@if (Model.HasDayLogs || Model.HasAssignedIssues)
{
    Spacing(5, 3);
    <tr>
        <td colspan="3">
            <h3 style="color:black; line-height:1.4em; margin-bottom:0px; padding-bottom:5px">@Model.Name</h3>
        </td>
    </tr>

    @if (Model.DayLogs.Count > 0)
    {
        foreach (var dayLog in Model.DayLogs)
        {
            @Partial("Views/daylog.cshtml", dayLog)
            @Spacing(5, 3)
        }
    }

    @if (Model.HasSprint)
    {
        if (Model.RemainingTasksCount > 0)
        {
            <tr>
                <td colspan="3">
                    <i style="color:sienna; font-size:12px;">Next</i>
                    @if (Model.Timing.RemainingTasksTimeLeftSeconds == 0)
                    {
                    <i style="color:red; font-size:12px;">@Dot() @Model.Timing.RemainingTasksTimeLeftString left</i>
                    }
                    else
                    {
                    <i style="color:sienna; font-size:12px;"> @Dot() @Model.Timing.RemainingTasksTimeLeftString left</i>
                    }
                </td>
            </tr>          
                @Partial("Views/tasks.cshtml", Model.RemainingTasks)       
                @if (Model.AdditionalUncompletedTasksCount > 0)
                {
                    <tr>
                        <td width="15">
                            &nbsp;
                        </td>
                        <td colspan="2">
                            + <a href="@Model.IssueSearchUrl" style="text-decoration:none; color:black">
                                @Model.AdditionalUncompletedTasksCount more
                            </a>
                        </td>
                    </tr>
                }
        }
    }
}