@if (Model.HasDayLogs || Model.HasAssignedIssues)
{
    <div style="margin-top:20px;">
        <b style="color:black; line-height:1.4em; margin-bottom:0px">@Model.Name</b>

        @if (Model.DayLogs.Count > 0)
        {
            foreach (var dayLog in Model.DayLogs)
            {
                @Partial("Views/daylog.cshtml", dayLog)
            }
        }
        @if (Model.HasSprint)
        {
            @if (Model.InProgressTasks.Count > 0)
            {
                <div style="margin-top:10px; line-height:1.4em;">
                    <i style="color:sienna; font-size:12px;">In Progress</i>

                    @if (Model.Timing.InProgressTasksTimeLeftSeconds == 0)
                    {
                        <span style="color:red; font-size:12px;"> &#x25cf; @Model.Timing.InProgressTasksTimeLeftString left</span>
                    }
                    else
                    {
                        <span style="color:sienna; font-size:12px;"> &#x25cf; @Model.Timing.InProgressTasksTimeLeftString left</span>
                    }
                    <table style="margin-left:10px;" cellpadding="1.5px">
                        <tbody>
                            @Partial("Views/tasks.cshtml", Model.InProgressTasksModel)
                        </tbody>
                    </table>
                </div>
            }

            @if (Model.OpenTasks.Count > 0)
            {
                <div style="line-height:1.4em; color:sienna; margin-top:10px;">
                    <i style="font-size: 12px; color: sienna">Upcoming </i>
                    @if (Model.Timing.OpenTasksTimeLeftSeconds != 0)
                    {
                        <span style="color: sienna; font-size:12px;"> &#x25cf; @Model.Timing.OpenTasksTimeLeftString left</span>
                    }
                    else
                    {
                        <span style="color:red; font-size:12px;">&#x25cf; @Model.Timing.OpenTasksTimeLeftString left</span>
                    }
                    <table style="margin-left:10px;" cellpadding="1.5px">
                        <tbody>
                            @Partial("Views/tasks.cshtml", Model.OpenTasksModel)
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
}