@if (Model.HasDayLogs || Model.HasAssignedIssues)
{
    <div style="margin-top:40px;">
        <h1 style="color:black; line-height:1.4em; margin-bottom:0px">@Model.Name</h1>

        @if (Model.DayLogs.Count > 0)
        {
            foreach (var dayLog in Model.DayLogs)
            {
                @Partial("Views/daylog.cshtml", dayLog)
            }
        }
        @if (Model.HasSprint)
        {
            if (Model.InProgressTasks.Issues.Count > 0)
            {
                <div style="margin-top:20px; line-height:1.4em;">
                    <b style="color:sienna; font-size:16px;">In Progress</b>

                    @if (Model.Timing.InProgressTasksTimeLeftSeconds == 0)
                    {
                        <span style="color:red; "> @Dot() @Model.Timing.InProgressTasksTimeLeftString left</span>
                    }
                    else
                    {
                        <span style="color:sienna; "> @Dot() @Model.Timing.InProgressTasksTimeLeftString left</span>
                    }
                    <table style="margin-left:10px; margin-top:5px" cellpadding="1.5px">
                        <tbody>
                            @Partial("Views/tasks.cshtml", Model.InProgressTasks)
                        </tbody>
                    </table>
                </div>
            }

            @if (Model.OpenTasks.Issues.Count > 0)
            {
                <div style="line-height:1.4em; color:sienna; margin-top:20px;">
                    <b style="font-size: 16px; color: sienna">Upcoming </b>
                    @if (Model.Timing.OpenTasksTimeLeftSeconds != 0)
                    {
                        <span style="color: sienna; "> @Dot() @Model.Timing.OpenTasksTimeLeftString left</span>
                    }
                    else
                    {
                        <span style="color:red; ">@Dot() @Model.Timing.OpenTasksTimeLeftString left</span>
                    }
                    <table style="margin-left:10px; margin-top:5px" cellpadding="1.5px">
                        <tbody>
                            @Partial("Views/tasks.cshtml", Model.OpenTasks)
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
}