@{
    var openParentheses = "";
    var closedParentheses = "";
    var comma = "";
    var revision = "";
}
@if (Model.Count > 0)
{
    <span> &#x25cf; </span>
    <span style="background-color:yellow; font-weight:bold;">
        @Model.Count
        @if (Model.Count == 1)
        {
            <span> commit </span>
        }
        else
        {
            <span> commits </span>
        }
        @foreach (var commit in Model)
        {

            if (commit.Entry.Revision.Length > 6)
            {
                revision = commit.Entry.Revision.Substring(0, 6);
            }
            else
            {
                revision = commit.Entry.Revision.Substring(0, commit.Entry.Revision.Length);
            }

            if (commit == Model.First())
            {
                openParentheses = "(";
            }
            else { openParentheses = ""; }
            if (commit == Model.Last())
            {
                closedParentheses = ")";
                comma = "";
            }
            else
            {
                closedParentheses = "";
                comma = ",";
            }

            if (commit.Entry.Link != null)
            {
                <span style="text-wrap:none; white-space:nowrap">@openParentheses<a href=@commit.Entry.Link style="text-decoration:none;">@revision</a>@comma @closedParentheses</span>
            }
            else
            { <span style="text-wrap:none; white-space:nowrap">@openParentheses <span>@revision</span>@comma @closedParentheses</span> }
        }
    </span>
}