<tr>
    <td colspan="3">
        @Partial("Views/workedHeader.cshtml", Model)
    </td>
</tr>

@if (Model.Issues != null && Model.Issues.Count > 0)
{
    foreach (var issue in Model.Issues)
    {
        if (issue.ExistsInTimesheet == true && issue.LoggedAuthor == Model.AuthorName)
        {
            @Partial("Views/workedTask.cshtml", issue)
        }
        else
        {
            @Partial("Views/parentTask.cshtml", issue)
        }

        if (issue.SubtasksDetailed != null)
        {
            foreach (var subtask in issue.SubtasksDetailed)
            {
                @Partial("Views/workedTask.cshtml", subtask)
            }
        }
    }

    if (Model.UnsyncedCommits.Count > 0)
    {
        @Partial("Views/unrelatedCommits.cshtml", Model.UnsyncedCommits)
    }
}


