@{
    var items = "";
}
<table width="440" cellpadding="0" cellspacing="0" style="padding:5px; background-color:#FAD6C6; color:#D9534F;">
    <tr>
        <td width="10" height="1" style="line-height:1px;font-size:1px">
            &nbsp;
        </td>
        <td width="10" height="1" style="line-height:1px;font-size:1px">
            &nbsp;
        </td>
        <td width="420" height="1" style="line-height:1px;font-size:1px">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td width="10" height="14" style="font-size:14px; line-height:14px;">
            @ErrorIcon()
        </td>
        <td width="10" height="14" style="font-size:14px; line-height:14px">
            &nbsp;
        </td>
        <td height="14" style="font-size:14px; line-height:14px">
            <span style="color:#D9534F; font-size:14px; vertical-align:bottom">Report Errors</span>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="5" style="line-height:5px; font-size:5px">
            &nbsp;
        </td>
    </tr>
    @if (Model.IsIndividualDraft)
    {
        if (Model.Author.Errors.Count > 0)
        {
            @Partial("Views/errorsMessageList.cshtml", Model.Author.ErrorsMessageList)
        }
    }
    else
    {
        if (Model.Summary.UnassignedErrors.Count > 0)
        {
            <tr>
                <td width="10" style="vertical-align:top;text-align:center">
                    @Dot()
                </td>
                <td colspan="2" style="text-align: left"><span style="font-size:14px;">@Model.Summary.UnassignedErrorsMessageHeader</span></td>
            </tr>

            @Partial("Views/errorsMessageList.cshtml", Model.Summary.UnassignedErrorsMessageList)
        }
        if (Model.Summary.AuthorsWithErrors != null && Model.Summary.AuthorsWithErrors.Count > 0)
        {
            foreach (var author in Model.Summary.AuthorsWithErrors)
            {
                <tr>
                    <td width="10" style="vertical-align:top; text-align:center">
                        @Dot()
                    </td>
                    <td colspan="2" style="text-align: left; font-size:14px;"><span style="font-size:14px;">@author.ErrorsMessageHeader</span></td>
                </tr>

                @Partial("Views/errorsMessageList.cshtml", author.ErrorsMessageList)
            }
        }
    }
</table>