@{
    var day = string.Empty;
    var colspanAtr = "";
    var items = "";
}

@if ((Model.ToDate - Model.FromDate).TotalDays > 1)
{
    day = "Avg. work logged during report days (h/day)";
}
else
{
    day = "Work logged on " + Model.FromDate.DayOfWeek.ToString();
}


<table width="600" style="min-width:0 !important; font-family:'Segoe UI', sans-serif, Arial; font-size:12px;">

    <tr>
        <td>
            @Partial("Views/header.cshtml", Model)

            <br />

            @if (Model.Author.Errors != null && Model.Author.Errors.Count > 0)
            {
                @Partial("Views/errorsSection.cshtml", Model)
            }

            <br />
            <br />

            @if (!Model.Author.IsEmpty)
            {
                <table width="480" cellspacing="0">
                    <tr>
                        <td width="10" height="1" style="font-size:1px; line-height:1px">
                            &nbsp;
                        </td>
                        <td width="80" height="1" style="font-size:1px; line-height:1px">
                            &nbsp;
                        </td>
                        <td width="150" height="1" style="font-size:1px; line-height:1px">
                            &nbsp;
                        </td>
                        <td width="10" height="1" style="font-size:1px; line-height:1px">
                            &nbsp;
                        </td>
                        <td width="230" height="1" style="font-size:1px; line-height:1px">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" height="16">
                            <h3 style="color:black; margin:0px">Work summary</h3>
                        </td>
                    </tr>

                    @Spacing(5, 5)

                    @if (!Model.HasSprint)
                    {
                        colspanAtr = "colspan='4'";
                    }
                    else
                    {
                        colspanAtr = "colspan='2'";
                    }

                    <tr>
                        <td width="10" height="12" style="line-height:12px">
                            @Square("#5CB85C")
                        </td>
                        <td height="12" @colspanAtr style="line-height:12px">
                            <span style="color:black; font-size:11px; padding-left:2px">@day</span>
                        </td>

                        @if (Model.HasSprint)
                        {
                            <td height="12" style="line-height:12px">
                                @Square("#F60")
                            </td>
                            <td height="12" style="line-height:12px">
                                <span style="color:black; font-size:11px; padding-left:2px">Avg. work logged in @Model.Summary.Sprint.name (h/day)</span>
                            </td>
                        }

                    </tr>
                    <tr>
                        <td width="10" height="12" style="line-height:12px">
                            @Square("#F0AD4E")
                        </td>
                        <td height="12" @colspanAtr style="line-height:12px">
                            <span style="color:black; font-size:11px; padding-left:2px">Avg. work logged in @Model.Summary.MonthName (h/day)</span>
                        </td>

                        @if (Model.HasSprint)
                        {
                            <td width="10" height="12" style="line-height:12px">
                                @Square("#337AB7")
                            </td>
                            <td height="12" style="line-height:12px">
                                <span style="color:black; font-size:11px; padding-left:2px">Avg. remaining work (h/day)</span>
                            </td>
                        }

                    </tr>

                    @Spacing(20, 5)

                    <tr>
                        <td width="90" height="55" colspan="2" style="border-right:1px solid #ABABAB;text-align:center; vertical-align:middle;">
                            <img src="@Model.Author.ReportAvatarLink" alt="@Model.Author.FirstName" />
                        </td>
                        <td height="50" colspan="3" style="padding:0px; padding-bottom:5px">
                            @Partial("Views/guidelines.cshtml", Model.Author.GuidelineInfo)
                            @if (Model.Author.Timing.AverageWorkedHours >= 0.1)
                            {
                                @ChartBar("#5CB85C", @Model.Author.Day.Width, @Model.Summary.ChartMaxWidth, @Model.Author.Day.ActualValue)
                            }
                            else
                            {
                                @ChartBar("white", @Model.Author.MaxBarWidth, @Model.Summary.ChartMaxWidth, "")
                            }

                            @if (Model.HasSprint)
                            {
                                if (Model.Author.Timing.AverageWorkedSprintHours >= 0.1)
                                {
                                    @ChartBar("#F60", @Model.Author.Sprint.Width, @Model.Summary.ChartMaxWidth, @Model.Author.Sprint.ActualValue)
                                }
                                else
                                {
                                    @ChartBar("white", @Model.Author.MaxBarWidth, @Model.Summary.ChartMaxWidth, "")
                                }
                            }

                            @if (Model.Author.Timing.AverageWorkedMonthHours >= 0.1)
                            {
                                @ChartBar("#F0AD4E", @Model.Author.Month.Width, @Model.Summary.ChartMaxWidth, @Model.Author.Month.ActualValue)
                            }
                            else
                            {
                                @ChartBar("white", @Model.Author.MaxBarWidth, @Model.Summary.ChartMaxWidth, "")
                            }
                            @if (Model.HasSprint)
                            {
                                if (Model.Author.Timing.TotalRemainingAverage >= 0.1)
                                {
                                    @ChartBar("#337AB7", @Model.Author.Remaining.Width, @Model.Summary.ChartMaxWidth, @Model.Author.Remaining.ActualValue)
                                }
                                else
                                {
                                    @ChartBar("white", @Model.Author.MaxBarWidth, @Model.Summary.ChartMaxWidth, "")
                                }
                            }

                        </td>

                    </tr>

                </table>
            }

            <table width="600" cellpadding="0" cellspacing="0" style="line-height:1.4em;">
                <tr>
                    <td width="15" height="1" style="font-size:1px; line-height:1px;padding:0px">
                        &nbsp;
                    </td>
                    <td width="15" height="1" style="font-size:1px; line-height:1px;padding:0px">
                        &nbsp;
                    </td>
                    <td width="570" height="1" style="font-size:1px; line-height:1px;padding:0px">
                        &nbsp;
                    </td>
                </tr>

                @if (Model.Author.IsEmpty)
                {
                    <tr>

                        <td colspan="3">
                            <h3 style="color:orange; margin:0px">There is no logged work or assigned issues</h3>

                        </td>
                    </tr>
                }
                else
                {
                    @Partial("Views/author.cshtml", Model.Author)
                }
            </table>

            <br />
            <br />

            @Partial("Views/individualDraftButtons.cshtml", Model.Author)

            <br />
            <br />

            @Partial("Views/footer.cshtml", Model)

        </td>
    </tr>

</table>