@{
    var day = string.Empty;
    var imgSrc = string.Empty;
}

@if ((Model.ToDate - Model.FromDate).TotalDays > 1)
{
    day = "Day avg.";
}
else
{
    day = Model.FromDate.DayOfWeek.ToString();
}


<div style="margin-top:20px; font-size:12px">

    <h3 style="color:black">@Model.Title</h3>

    <div style="margin-top:20px">
        @if (Model.Author.Errors != null && Model.Author.Errors.Count > 0)
        {
            <table style="border:1px solid #D43F3A; min-width:250px; border-radius:3px; padding:5px; background-color:#FAEAEA">
                <tbody>
                    <tr>
                        <th>
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                <a style="text-decoration:none;border-radius:10px;width:17px; height:16px; line-height:16px; font-size:11px; font-family: Segoe UI Symbol, Arial;color:white;padding:1px 1px 1px 1px;background-color:#D9534F; display:inline-block; margin-right:4px;">
                                                    &#10006;
                                                </a>
                                            </th>
                                            <td>
                                                <b style="color:#D9534F; font-size:14px;">Report Errors</b>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table style="margin-top:5px; color:#D9534F;">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align:top; width:15px">
                                                <span>&#x2022;</span>
                                            </td>
                                            <td colspan="1" style="text-align: left"><b style="font-size:14px;">@Model.Author.FirstName has @Model.Author.Errors.Count items with no estimate</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        }
        @if (!Model.Author.IsEmpty)
        {
            <div style="margin-top:50px">
                <h3 style="margin-top:15px; color:black">Work summary</h3>
                <div style="margin-top:20px">
                    <span style="margin-left:5px">
                        <a style="width:10px; height:10px; background-color:#5CB85C; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">@day</span>
                    </span>
                    @if (Model.HasSprint)
                    {
                        <span style="margin-left:5px">
                            <a style="width:10px; height:10px; background-color:#F60; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Sprint avg.</span>
                        </span>
                    }
                    <span style="margin-left:5px">
                        <a style="width:10px; height:10px; background-color:#F0AD4E; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Month avg.</span>
                    </span>
                    <span style="margin-left:5px">
                        <a style="width:10px; height:10px; background-color:#337AB7; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Remaining avg.</span>
                    </span>
                </div>
                <table cellspacing="0" style="margin-top:20px">
                    <tbody>
                        @{
            imgSrc = "cid:" + Model.Author.AvatarId;
                        }
                        <tr>
                            <td style="width:55px; height:55px; max-width:55px; max-height:55px; border-right:1px solid grey; padding-right:10px; text-align:center; vertical-align:middle; color:black"><img src="@imgSrc" alt="@Model.Author.FirstName" /></td>
                            <td style="padding:0px; padding-bottom:5px">
                                @Partial("Views/guidelines.cshtml", Model.Author.GuidelineInfo)
                                @if (Model.Author.Timing.AverageWorked > 0)
                                {
                                    <div style="width: @Model.Summary.ChartMaxWidthString; max-width:@Model.Summary.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                                        <div style="display:inline-block; background-color:#5CB85C; width:@Model.Author.DayChartPixelWidthString; height:14px; float:left; margin:0"></div>
                                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.Author.Timing.AverageWorkedString</div>
                                    </div>
                                }
                                else
                                {
                                    <div style="width: @Model.Summary.ChartMaxWidthString; max-width:@Model.Summary.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                                    </div>
                                }
                                @if (Model.Author.Timing.AverageWorkedSprint > 0)
                                {
                                    <div style="width: @Model.Summary.ChartMaxWidthString; max-width:@Model.Summary.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                                        <div style="display:inline-block; background-color:#F60; width:@Model.Author.SprintChartPixelWidthString; height:14px; float:left; margin:0"></div>
                                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.Author.Timing.AverageWorkedSprintString</div>
                                    </div>
                                }
                                else
                                {
                                    <div style="width: @Model.Summary.ChartMaxWidthString; max-width:@Model.Summary.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                                    </div>
                                }
                                @if (Model.Author.Timing.AverageWorkedMonth > 0)
                                {
                                    <div style="width: @Model.Summary.ChartMaxWidthString; max-width:@Model.Summary.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                                        <div style="display:inline-block; background-color:#F0AD4E; width:@Model.Author.MonthChartPixelWidthString; height:14px; float:left; margin:0"></div>
                                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left;color:black">@Model.Author.Timing.AverageWorkedMonthString</div>
                                    </div>
                                }
                                else
                                {
                                    <div style="width: @Model.Summary.ChartMaxWidthString; max-width:@Model.Summary.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                                    </div>
                                }
                                @if (Model.Author.Timing.TotalRemainingAverage > 0)
                                {
                                    <div style="width: @Model.Summary.ChartMaxWidthString; max-width:@Model.Summary.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                                        <div style="display:inline-block; background-color:#337AB7; width:@Model.Author.RemainingChartPixelWidthString; height:14px; float:left; margin:0"></div>
                                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left;color:black">@Model.Author.Timing.TotalRemainingString</div>
                                    </div>
                                }
                                else
                                {
                                    <div style="width: @Model.Summary.ChartMaxWidthString; max-width:@Model.Summary.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                                    </div>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }

    </div>

    <div style="margin-top:40px; line-height:1.4em">

        @if (Model.Author.IsEmpty)
        {
            <h3 style="color:orange">There is no logged work or assigned issues</h3>
        }
        else
        {
            @Partial("Views/author.cshtml", Model.Author)

        }

    </div>

    <table style="margin-top:50px; width:250px; height:50px;">
        <tbody>
            <tr>
                <td width="100px" height="40px" style="display:inline-block; padding:0px; line-height:40px;" title="This will confirm the draft ONLY for this particular user and send the draft report to the project manager &#013; Only click the button after: &#013; - errors have been corrected &#013; - all work has been logged">
                    @Partial("Views/confirmationButton.cshtml", Model.Author.IndividualDraftInfo.ConfirmationDraftUrl)
                </td>

                <td width="30px" height="40px" style="display:inline-block;font-size:12px; line-height:40px;padding:0px; text-align:center">
                    or
                </td>
                <td width="100px" height="40px;" style="display:inline-block; padding:0px; line-height:40px;">
                    <a style="color:#0000FF; text-decoration:none; font-size:12px; line-height:40px" href="@Model.Author.IndividualDraftInfo.ResendDraftUrl" title="If the information in the report has changed and you want to see how it looks now, before confirming it, you can get a new one.">Resend</a>
                </td>
            </tr>
        </tbody>
    </table>

    @if (Model.Author.IsProjectLead == true)
    {
        <div>
            <hr style="width:250px; margin-left:0px" />
            <span style="font-size:12px; color:black;">
                If not everyone from your team has confirmed their report, you can also <a style="color:#0000FF; font-weight:bold; text-decoration:none;" href="@Model.Author.IndividualDraftInfo.ForceDraftUrl">force the full draft</a>.
            </span>
        </div>
    }
</div>