      <tr>
        <td style="vertical-align:top; width:15px">
            @if (Model.Resolution != null)
            {
                <span style="font-family: Segoe UI Symbol; font-size: 10.5pt; color:black;">&#10004;</span>
            }
            else if (Model.StatusCategory.name == "In Progress")
            {
                <span style="font-family: Wolfram Alpha; font-size:10.5pt; color:black;">&#9658;</span>
            }
            else if (Model.Resolution == null)
            {
                <span style="font-family: Segoe UI Symbol; font-size: 10.5pt; color:black; font-weight:normal">&#10065;</span>
            }
        </td>
        <td colspan="2">
            @if(Model.StatusCategory.name == "Done")
            {
                if(Model.Resolution != "Fixed" && Model.Resolution != "Done")
                {
                    <span style="color:black; padding:1.5px">@Model.Resolution</span>
                }
            }
            @if (Model.DisplayStatus == true)
            {
                <span style="color:black; padding:1.5px;">@Model.Status</span>
            }
            
            @{
                var title = Model.Key;
                if (Model.Assignee == null)
                {
                   title+= "\n Unassigned";
                }
                else if (Model.Assignee != Model.LoggedAuthor)
                {
                    title+= '\n' + Model.Assignee;
                }
            }
            
            <a href=@Model.Link style="text-decoration: none; color:#15C;" title="@title"> @Model.Summary </a>
   
            @if (Model.PullRequests != null)
            {
                if (Model.PullRequests.Count > 0)
                {
                    <span> @Partial("Views/pullRequests.cshtml", Model.PullRequests) </span>
                }
            }
        </td>
        <td>

        </td>
    </tr>
             
