@{
    var title = string.Empty;
}

<tr>
    <td></td>
    <td style="vertical-align:top; width:15px">
        @if (Model.StatusCategory.name == "Done")
        {
            <span style="font-family: Segoe UI Symbol; font-size: 10.5pt; color:black">&#10004;</span>
        }
        @if (Model.StatusCategory.name == "In Progress")
        {
            <span style="font-size: 10.5pt; font-family: Wolfram Alpha; color:black">&#9658;</span>
        }
        @if (Model.StatusType == "Open")
        {
            <span style="font-size: 10.5pt; font-family: Segoe UI Symbol; color:black; font-weight:normal">&#10065;</span>
        }
    </td>
    <td>
        @if (Model.StatusCategory.name == "Done")
        {
            if (Model.Resolution != "Fixed" && Model.Resolution != "Done")
            {
                <span style="color:black; padding:1.5px">@Model.Resolution</span>
            }
        }
        @if (Model.IsNew)
        {
            <span style="color:black"> NEW: </span>
        }
        @if (Model.StatusCategory.name == "In Progress")
        {
            if (Model.ExistsInTimesheet == true)
            {
                <span style="color:black">Continue:</span>
            }
        }
        else
        {
            if (Model.Status == Model.PolicyReopenedStatus)
            {
                <span style="color:black">Reopened:</span>
            }
            else if (Model.TimeSpent > 0)
            {
                <span style="color:black">Paused:</span>
            }
        }
        @if (Model.DisplayStatus == true)
        {
            <b style="color:black; padding:1.5px;">@Model.Status</b>
        }

        @{
            title = Model.Key;
            if (Model.TimeSpentOnTask > 0)
            {
                title += '\n' + Model.TimeLoggedTotal + " worked";
            }
            if (Model.Resolution == null)
            {
                title += '\n' + Model.RemainingEstimate + " left";
            }
            if (Model.Assignee == null)
            {
                title += '\n' + "Unassigned";
            }
            else
            {
                if (Model.Assignee != Model.LoggedAuthor)
                {
                    title += '\n' + Model.Assignee;
                }
            }
        }

        <a style="text-decoration: none; color:#15C;" title="@title" href="@Model.Link">@Model.Summary</a>

        @if (Model.PullRequests != null)
        {
            if (Model.PullRequests.Count > 0)
            {
                <span> @Partial("Views/pullRequests.cshtml", Model.PullRequests) </span>
            }
        }
    </td>
</tr>
