@{
    var title = string.Empty;
}

<tr>
    <td width="15">
        &nbsp;
    </td>
    <td width="15" style="vertical-align:top;">
        @if (Model.StatusCategory.name == "Done")
        {
            <span style=" font-size: 10.5pt; color:black">&#10004;</span>
        }
        else
        {
            <span style="font-size: 10.5pt;  color:black; font-weight:normal">&#10065;</span>
        }
    </td>
    <td>

        @{
            title = Model.Key;
            if (Model.TimeSpentOnTask > 0)
            {
                title += '\n' + Model.TimeLoggedTotal + " worked";
            }
            if (Model.Resolution == null)
            {
                title += '\n' + Model.RemainingEstimate + " left";
            }
            if (Model.Assignee == null)
            {
                title += '\n' + "Unassigned";
            }
            else
            {
                if (Model.Assignee != Model.LoggedAuthor)
                {
                    title += '\n' + Model.Assignee;
                }
            }
        }

        <a style="text-decoration: none; color:black" title="@title" href="@Model.Link">@Model.Summary</a>

        @if (Model.PullRequests != null)
        {
            if (Model.PullRequests.Count > 0)
            {
                <span> @Partial("Views/pullRequests.cshtml", Model.PullRequests) </span>
            }
        }
        
        @if (Model.IsNew)
        {
            <span style="color:#ABABAB"> (NEW)</span>
        }
        @if (Model.StatusCategory.name == "In Progress")
        {
            if (Model.ExistsInTimesheet == true)
            {
                <span style="color:#ABABAB"> (Continue)</span>
            }
        }
        else
        {
            if (Model.Status == Model.PolicyReopenedStatus)
            {
                <span style="color:#ABABAB"> (Reopened)</span>
            }
            else if (Model.TimeSpent > 0)
            {
                <span style="color:#ABABAB"> (Paused)</span>
            }
        }
        
        @if (Model.StatusCategory.name == "Done")
        {
            if (Model.Resolution != "Fixed" && Model.Resolution != "Done" && Model.Resolution != null)
            {
                <span style="color:#ABABAB; padding:1.5px"> (@Model.Resolution)</span>
            }
        }
        
        @if (Model.DisplayStatus == true)
        {
            <b style="color:#ABABAB; padding:1.5px;"> (@Model.Status)</b>
        }
    </td>
</tr>
