 @{
     var color="";
 }

    @foreach (var subtask in Model.SubtasksIssues)
    {
        if (subtask.Assignee == Model.LoggedAuthor && subtask.Resolution == null)
        {
            if (subtask.RemainingEstimateSeconds == 0)
            {
                if (subtask.Label != null)
                {
                    color = "orange";
                }
                else
                {
                    color = "red";
                }
            }
            else
            {
                color = "black";
            }
            <table style="margin-left:10px; margin-top:10px;" cellpadding="1.5px">
                <tr>
                    <td style="vertical-align:top;">
                        @if (subtask.StatusCategory.name == "In Progress")
                        {
                            <span style="font-size: 10.5pt; font-family: Wolfram Alpha; color:black">&#9658;</span>
                            if (DateTime.Compare(subtask.Created, DateTime.Today.AddDays(-1)) >= 0)
                            {
                                <b style="color:black"> NEW: </b>
                            }
                            if (subtask.ExistsInTimesheet == true)
                            {
                                <b style="color:black">Continue:</b>
                            }
                        }
                        else
                        {
                            <span style="font-size: 10.5pt; font-family: Segoe UI Symbol; color:black; font-weight:normal">&#10065;</span>
                            if (DateTime.Compare(subtask.Created, DateTime.Today.AddDays(-1)) >= 0)
                            {
                                <b style="color:black"> NEW: </b>
                            }
                            if (subtask.Status == Model.PolicyReopenedStatus)
                            {
                                <span style="font-weight:bold; color:black">Reopened:</span>
                            }
                            else if (subtask.TimeSpent > 0)
                            {
                                <span style="font-weight:bold; color:black">Paused:</span>
                            }
                        }
                    </td>
                    <td>
                        <a style="text-decoration: none; font-weight:bold;" href="@subtask.Link">@subtask.Summary</a>
                        <span style="color: #B8B8B8;"> &#x25cf; @subtask.Key </span>

                        @if (subtask.TimeSpent > 0)
                        {
                            <span style="color:black"> &#x25cf; @subtask.TimeLogged worked </span>
                        }
                        @if (subtask.Resolution == null)
                        {
                            <span style="color:@color;"> &#x25cf; @subtask.RemainingEstimate left </span>
                        }
                        @if (subtask.PullRequests != null)
                        {
                            if (subtask.PullRequests.Count > 0)
                            {
                                <span> @Partial("Views/pullRequests.cshtml", subtask.PullRequests) </span>
                            }
                        }
                    </td>
                </tr>
            </table>
        }
    }
