<div style="margin-top:40px; display:inline-block">
    <table style="border:1px solid #DDD; border-collapse:collapse; min-width:250px">
        <tbody>
            @if(Model.HasSprint)
            {
                if (Model.AllocatedHoursPerDay > 0)
                {
                    <tr>
                        <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                            <b style="color:black; font-size:14px;">Sprint status</b>
                        </th>
                        <td colspan="1" style="vertical-align: top; text-align: center; padding:5px; border:1px solid #DDD; background-color:@Model.HealthColors[Model.SprintHealth]">
                            <span style="color:black">@Model.SprintStatus</span>
                        </td>
                    </tr>
                }
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px;">Sprint - remaining work / day</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD;">
                        <span style="color:black">@Model.SprintTasksTimeLeftHoursString</span>
                    </td>
                </tr>
            }
            @if(Model.AllocatedHoursPerDay > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Team - estimated work rate / day</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD;">
                        <span style="color:black;">@Model.AllocatedHoursPerDayString</span>
                    </td>
                </tr>
            }
            @if (Model.AllocatedHoursPerMonth > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Month status</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: center; padding:5px; border:1px solid #DDD; background-color:@Model.HealthColors[Model.MonthHealth]">
                        <span style="color:black; font-size:14px">@Model.MonthStatus</span>
                    </td>
                </tr>
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Month - remaining work / day</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px">@Model.MonthHourRateString</span>
                    </td>
                </tr>
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Month - remaining time</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px">@Model.RemainingMonthHoursString</span>
                    </td>
                </tr>
                 <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Month - work limit</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px">@Model.AllocatedHoursPerMonthDetailed (@Model.AllocatedHoursPerMonthTime)</span>
                    </td>
                </tr>
            }
            @if (Model.CommitsCount > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Commits</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px"> @Model.CommitsCount</span>
                    </td>
                </tr>
            }
            <tr>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">People</b>
                </th>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                    <span style="color:black; font-size:14px"> @Model.AuthorsInvolved</span>
                </td>
            </tr>
            @if (Model.PullRequests.Count > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Pull requests</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px"> @Model.PullRequests.Count</span>
                    </td>
                </tr>
            }
            @if (Model.UnrelatedPullRequests.Count > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Unrelated pull requests</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        @Partial("Views/UnrelatedPullRequests.cshtml", Model.UnrelatedPullRequests)
                    </td>
                </tr>
            }
            @if (Model.Errors.ErrorsCount > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Report errors</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        @Partial("Views/errorsSection.cshtml", Model.Errors)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="margin-top:10px; display:inline-block">
    <table style="border: 1px solid #DDD; border-collapse:collapse; min-width:400px">
        <tbody>
            <tr>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">Work log summary (h worked)</b>
                </th>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px"> @Model.ReportDate</b>
                </th>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">Sprint (h left)</b>
                </th>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">Month</b>
                </th>
            </tr>
            <tr>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                    <b style="color:black; font-size:14px"> TOTAL </b>
                </td>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD; background-color:@Model.HealthColors[Model.WorkedDaysHealth]">
                    <b style="color:black; font-size:14px"> @Model.TotalTime </b>
                </td>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">@Model.SprintHoursWorkedString (@Model.SprintTasksTimeLeftHoursString) </b>
                </td>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                    <b style="color:black; font-size:14px"> @Model.MonthHoursWorkedString</b>
                    @if (Model.AllocatedHoursPerMonth > 0)
                    {
                        <b style="color:black; font-size:14px">/ @Model.AllocatedHoursPerMonth </b>
                    }
                </td>
            </tr>
            @foreach(var author in Model.Authors)
            {
                <tr>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px"> @author.Name </span>
                    </td>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <b style="color:black; font-size:14px"> @author.TimeSpentHoursString </b>
                    </td>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <b style="color:black; font-size:14px"> @author.TimeSpentCurrentSprintString (@author.RemainingEstimateHoursString)</b>
                    </td>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px"> @author.TimeSpentCurrentMonthHoursString</span>
                    </td>
                </tr>                 
            }
        </tbody>
    </table>
</div>