@{
    var day = string.Empty;
}
@if (Model.Errors != null && Model.Errors.Count > 0)
{
    <div style="margin-top:20px">
        <table style="border:1px solid #D43F3A; min-width:250px; border-radius:3px; padding:5px; background-color:#FAEAEA">
            <tbody>
                <tr>
                    <th>
                        <div>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>
                                            <a style="text-decoration:none;border-radius:10px;width:17px; height:16px; line-height:16px; font-size:11px; font-family: Segoe UI Symbol, Arial;color:white;padding:1px 1px 1px 1px;background-color:#D9534F; display:inline-block; margin-right:4px;">
                                                &#10006;
                                            </a>
                                        </th>
                                        <td>
                                            <b style="color:#D9534F; font-size:14px;">Report Errors</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table style="margin-top:5px; color:#D9534F;">
                                <tbody>
                                    @if (Model.CompletedWithEstimateErrors.Count > 0)
                                    {
                                        <tr>
                                            <td style="vertical-align:top; width:15px">
                                                <span>&#x25cf;</span>
                                            </td>
                                            <td colspan="1" style="text-align: left"><b style="font-size:14px;">@Model.CompletedWithEstimateErrors.Count completed items with remaining estimate</b></td>
                                        </tr>
                                    }
                                    @if (Model.CompletedWithNoWorkErrors.Count > 0)
                                    {
                                        <tr>
                                            <td style="vertical-align:top; width:15px">
                                                <span>&#x25cf;</span>
                                            </td>
                                            <td colspan="1" style="text-align: left"><b style="font-size:14px;">@Model.CompletedWithNoWorkErrors.Count completed items with no work logged</b></td>
                                        </tr>
                                    }
                                    @if (Model.UnassignedErrors.Count > 0)
                                    {
                                        <tr>
                                            <td style="vertical-align:top; width:15px">
                                                <span>&#x25cf;</span>
                                            </td>
                                            <td colspan="1" style="text-align: left"><b style="font-size:14px;">@Model.UnassignedErrors.Count unassigned items with no estimate</b></td>
                                        </tr>
                                    }
                                    @if (Model.AuthorsWithErrors != null && Model.AuthorsWithErrors.Count > 0)
                                    {
                                        foreach (var author in Model.AuthorsWithErrors)
                                        {
                                            <tr>
                                                <td style="vertical-align:top; width:15px">
                                                    <span>&#x25cf;</span>
                                                </td>
                                                <td colspan="1" style="text-align: left"><b style="font-size:14px;">@author.FirstName has @author.Errors.Count items with no estimate</b></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
}
<div style="margin-top:10px">
    <table style="border:1px solid #DDD; border-collapse:collapse; min-width:250px">
        <tbody>
            @if (Model.HasSprint)
            {
                if (Model.AllocatedHoursPerDay > 0)
                {
                    <tr>
                        <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                            <b style="color:black; font-size:14px;">Sprint status</b>
                        </th>
                        <td colspan="1" style="vertical-align: top; text-align: center; padding:5px; border:1px solid #DDD; background-color:@Model.HealthColors[Model.SprintHealth]">
                            <span style="color:black; font-size:14px">@Model.SprintStatus</span>
                        </td>
                    </tr>
                }
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px;">Sprint - remaining work / day</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD;">
                        <span style="color:black; font-size:14px;">@Model.SprintHourRateString</span>
                    </td>
                </tr>
            }
            @if (Model.AllocatedHoursPerDay > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Team - estimated work rate / day</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD;">
                        <span style="color:black; font-size:14px">@Model.AllocatedHoursPerDayString</span>
                    </td>
                </tr>
            }
            @if (Model.AllocatedHoursPerMonth > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Month status</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: center; padding:5px; border:1px solid #DDD; background-color:@Model.HealthColors[Model.MonthHealth]">
                        <span style="color:black; font-size:14px">@Model.MonthStatus</span>
                    </td>
                </tr>
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Month - remaining work / day</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px">@Model.MonthHourRateString</span>
                    </td>
                </tr>
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Month - remaining time</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px">@Model.MonthTimeLeft</span>
                    </td>
                </tr>
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Month - work limit</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px">@Model.AllocatedHoursPerMonthDetailed (@Model.AllocatedHoursPerMonthTime)</span>
                    </td>
                </tr>
            }
            @if (Model.CommitsCount > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Commits</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px"> @Model.CommitsCount</span>
                    </td>
                </tr>
            }
            <tr>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">People</b>
                </th>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                    <span style="color:black; font-size:14px"> @Model.AuthorsInvolved</span>
                </td>
            </tr>
            @if (Model.PullRequests.Count > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Pull requests</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px"> @Model.PullRequests.Count</span>
                    </td>
                </tr>
            }
            @if (Model.UnrelatedPullRequests.Count > 0)
            {
                <tr>
                    <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <b style="color:black; font-size:14px">Unrelated pull requests</b>
                    </th>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        @Partial("Views/UnrelatedPullRequests.cshtml", Model.UnrelatedPullRequests)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="margin-top:50px">
    <h3 style="margin-top:15px; color:black">Status</h3>
    <div style="margin-top:20px;">
        <span style="margin-left:5px">
            <a style="width:10px; height:10px; background-color:#F0AD4E; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Today</span>
        </span>
        <span style="margin-left:5px">
            <a style="width:10px; height:10px; background-color:#999; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Estimated</span>
        </span>
        <span style="margin-left:5px">
            <a style="width:10px; height:10px; background-color:#FF6600; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Done</span>
        </span>
        <span style="margin-left:5px">
            <a style="width:10px; height:10px; background-color:#337AB7; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Remaining</span>
        </span>
    </div>
    <table cellspacing="0" style="margin-top:20px">
        <tbody>
            <tr>
                <td style="width:55px; height:55px; max-width:55px; max-height:55px; border-right:1px solid grey; padding-right:10px; text-align:center; vertical-align:middle; color:black">Sprint</td>
                <td style="padding:0px; padding-bottom:5px;">
                    <div style="width: @Model.ChartMaxWidthString; max-width: @Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                        <div style="display:inline-block; background-color:#F0AD4E; width: @Model.SprintWidths.DayWidthString; height:14px; float:left; margin:0"></div>
                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.AverageTimeWorkedWithDecimals</div>
                    </div>
                    <div style="width: @Model.ChartMaxWidthString; max-width: @Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                        <div style="display:inline-block; background-color:#999; width: @Model.SprintWidths.EstimatedWidthString; height:14px; float:left; margin:0"></div>
                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.SprintAverageEstimateWithDecimals</div>
                    </div>
                    <div style="width: @Model.ChartMaxWidthString; max-width: @Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                        <div style="display:inline-block; background-color:#FF6600; width: @Model.SprintWidths.DoneWidthString; height:14px; float:left; margin:0"></div>
                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.SprintWorkedPerDayWithDecimals</div>
                    </div>
                    <div style="width: @Model.ChartMaxWidthString; max-width: @Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                        <div style="display:inline-block; background-color:#337AB7; width: @Model.SprintWidths.RemainingWidthString; height:14px; float:left; margin:0"></div>
                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.SprintTasksTimeLeftPerDayWithDecimals</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:55px; height:55px; max-width:55px; max-height:55px; border-right:1px solid grey; padding-right:10px; text-align:center; vertical-align:middle; color:black">Month</td>
                <td style="padding:0px; padding-bottom:5px;">
                    <div style="width: @Model.ChartMaxWidthString; max-width: @Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                        <div style="display:inline-block; background-color:#999; width: @Model.MonthWidths.EstimatedWidthString; height:14px; float:left; margin:0"></div>
                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.MonthAverageEstimatedWithDecimals</div>
                    </div>
                    <div style="width: @Model.ChartMaxWidthString; max-width: @Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                        <div style="display:inline-block; background-color:#FF6600; width: @Model.MonthWidths.DoneWidthString; height:14px; float:left; margin:0"></div>
                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.MonthWorkedPerDayWithDecimals</div>
                    </div>
                    <div style="width: @Model.ChartMaxWidthString; max-width: @Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                        <div style="display:inline-block; background-color:#337AB7; width: @Model.MonthWidths.RemainingWidthString; height:14px; float:left; margin:0"></div>
                        <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@Model.RemainingMonthHoursAverageWithDecimals</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:50px">
    <h3 style="margin-top:15px; color:black">Work summary / person</h3>
    <div style="margin-top:20px">
        <span style="margin-left:5px">
            @if ((Model.ToDate - Model.FromDate).TotalDays > 1)
            {
                day = "Day avg";
            }
            else
            {
                day = Model.FromDate.DayOfWeek.ToString().Substring(0, 3);
            }
            <a style="width:10px; height:10px; background-color:#5CB85C; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">@day</span>
        </span>
        <span style="margin-left:5px">
            <a style="width:10px; height:10px; background-color:#337AB7; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Sprint avg</span>
        </span>
        <span style="margin-left:5px">
            <a style="width:10px; height:10px; background-color:#F0AD4E; display:inline-block"></a><span style="color:black; font-size:12px; padding-left:2px">Month avg</span>
        </span>
    </div>
    <table cellspacing="0" style="margin-top:20px">
        <tbody>
            @foreach (var author in Model.Authors)
            {
                <tr>
                    <td style="width:55px; height:55px; max-width:55px; max-height:55px; border-right:1px solid grey; padding-right:10px; text-align:center; vertical-align:middle; color:black">@author.FirstName</td>
                    <td style="padding:0px; padding-bottom:5px">
                        <div style="width: @Model.ChartMaxWidthString; max-width:@Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                            <div style="display:inline-block; background-color:#5CB85C; width:@author.DayChartPixelWidthString; height:14px; float:left; margin:0"></div>
                            <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@author.TimeLoggedPerDayAverageHours</div>
                        </div>
                        <div style="width: @Model.ChartMaxWidthString; max-width:@Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                            <div style="display:inline-block; background-color:#337AB7; width:@author.SprintChartPixelWidthString; height:14px; float:left; margin:0"></div>
                            <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left; color:black">@author.SprintWorkedPerDayHours</div>
                        </div>
                        <div style="width: @Model.ChartMaxWidthString; max-width:@Model.ChartMaxWidthString; height:14px; overflow:hidden; padding-bottom:2px">
                            <div style="display:inline-block; background-color:#F0AD4E; width:@author.MonthChartPixelWidthString; height:14px; float:left; margin:0"></div>
                            <div style="width:45px; height:14px; line-height:14px; display:inline-block; font-size:12px; padding-left:5px; float:left;color:black">@author.MonthWorkedPerDayHours</div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div style="margin-top:10px">
    <table style="border: 1px solid #DDD; border-collapse:collapse; min-width:400px">
        <tbody>
            <tr>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">Work summary</b>
                </th>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px"> @Model.ReportDate</b>
                </th>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">Sprint</b>
                </th>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">Month</b>
                </th>
            </tr>
            <tr>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                    <b style="color:black; font-size:14px"> TOTAL </b>
                </td>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD; background-color:@Model.HealthColors[Model.WorkedDaysHealth]">
                    <b style="color:black; font-size:14px"> @Model.TotalTime </b>
                </td>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD; background-color:@Model.HealthColors[Model.SprintHealth]">
                    <b style="color:black; font-size:14px">@Model.SprintWorkedPerDayString</b>
                </td>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD; background-color:@Model.HealthColors[Model.MonthHealth]">
                    <b style="color:black; font-size:14px"> @Model.MonthWorkedPerDayString</b>
                </td>
            </tr>
            @foreach (var author in Model.Authors)
            {
                <tr>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        <span style="color:black; font-size:14px"> @author.ShortName </span>
                    </td>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        @if (author.TimeSpent > 0)
                        {
                            <span style="color:black; font-size:14px"> @author.TimeLogged </span>
                        }
                        else
                        {
                            <span style="color:black; font-size:14px"> - </span>
                        }
                    </td>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        @if (author.TimeSpentCurrentSprintSeconds > 0)
                        {
                            <span style="color:black; font-size:14px"> @author.SprintWorkedPerDayString</span>
                        }
                        else
                        {
                            <span style="color:black; font-size:14px"> - </span>
                        }
                    </td>
                    <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                        @if (author.TimeSpentCurrentMonthSeconds > 0)
                        {
                            <span style="color:black; font-size:14px"> @author.MonthWorkedPerDayString</span>
                        }
                        else
                        {
                            <span style="color:black; font-size:14px"> - </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<div style="margin-top:20px">
    <table style="border: 1px solid #DDD; border-collapse:collapse; min-width:400px">
        <tr>
            <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                <b style="color:black; font-size:14px;">Remaining summary</b>
            </th>
            <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                <b style="color:black; font-size:14px;">In Progress</b>
            </th>
            <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                <b style="color:black; font-size:14px;">Upcoming</b>
            </th>
            <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                <b style="color:black; font-size:14px;">Both</b>
            </th>
        </tr>
        <tr>
            <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                <b style="color:black; font-size:14px;">TOTAL</b>
            </td>
            <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                @if (Model.InProgressTasksTimeLeftSeconds > 0)
                {
                    <b style="color:black; font-size:14px;">@Model.InProgressTasksTimeLeft</b>
                }
                else
                {
                    <b style="color:black; font-size:14px;"> - </b>
                }
            </td>
            <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                @if (Model.OpenTasksTimeLeftSeconds > 0)
                {
                    <b style="color:black; font-size:14px;">@Model.OpenTasksTimeLeft</b>
                }
                else
                {
                    <b style="color:black; font-size:14px;"> - </b>
                }
            </td>
            <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                @if (Model.SprintTasksTimeLeftSeconds > 0)
                {
                    <b style="color:black; font-size:14px;">@Model.SprintTasksTimeLeftHoursString</b>
                }
                else
                {
                    <b style="color:black; font-size:14px;"> - </b>
                }
            </td>
        </tr>
        @if (Model.Authors != null && Model.Authors.Count > 0)
        {
            foreach (var author in Model.Authors)
            {
                <tr>
                    <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        <span style="color:black; font-size:14px;">@author.ShortName</span>
                    </td>
                    <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        @if (author.InProgressTasksTimeLeftSeconds > 0)
                        {
                            <span style="color:black; font-size:14px;">@author.InProgressTasksTimeLeft</span>
                        }
                        else
                        {
                            <span style="color:black; font-size:14px;"> - </span>
                        }
                    </td>
                    <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        @if (author.OpenTasksTimeLeftSeconds > 0)
                        {
                            <span style="color:black; font-size:14px;">@author.OpenTasksTimeLeft</span>
                        }
                        else
                        {
                            <span style="color:black; font-size:14px;"> - </span>
                        }
                    </td>
                    <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                        @if (author.RemainingEstimateSeconds > 0)
                        {
                            <span style="color:black; font-size:14px;">@author.RemainingEstimateHoursString</span>
                        }
                        else
                        {
                            <span style="color:black; font-size:14px;"> - </span>
                        }
                    </td>
                </tr>
            }
        }
        <tr>
            <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                <span style="color:black; font-size:14px;">Unassigned</span>
            </td>
            <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                @if (Model.InProgressUnassignedTasksSecondsLeft > 0)
                {
                    <span style="color:black; font-size:14px;">@Model.InProgressUnassignedTasksTimeLeft</span>
                }
                else
                {
                    <span style="color:black; font-size:14px;"> - </span>
                }
            </td>
            <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                @if (Model.OpenUnassignedTasksSecondsLeft > 0)
                {
                    <span style="color:black; font-size:14px;">@Model.OpenUnassignedTasksTimeLeft</span>
                }
                else
                {
                    <span style="color:black; font-size:14px;"> - </span>
                }
            </td>
            <td colspan="1" style="padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                @if (Model.UnassignedTasksSecondsLeft > 0)
                {
                    <span style="color:black; font-size:14px;">@Model.UnassignedTasksTimeLeft</span>
                }
                else
                {
                    <span style="color:black; font-size:14px;"> - </span>
                }
            </td>

        </tr>
    </table>
</div>