@{
    var day = string.Empty;
    var imgSrc = string.Empty;
}
@if ((Model.ToDate - Model.FromDate).TotalDays > 1)
{
    day = "Day avg.";
}
else
{
    day = Model.FromDate.DayOfWeek.ToString();
}

@if (Model.Errors != null && Model.Errors.Count > 0)
{
    <table cellpadding="0" cellspacing="0" style="border:1px solid #D43F3A; min-width:250px; border-radius:3px; padding:5px; background-color:#FAEAEA">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @ErrorIcon()
                                </td>
                                <td>
                                    <b style="color:#D9534F; font-size:14px; vertical-align:bottom">Report Errors</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <table cellpadding="0" cellspacing="0" style="margin-top:5px; color:#D9534F;">
                        <tbody>
                            @if (Model.CompletedWithEstimateErrors.Count > 0)
                            {
                            <tr>
                                <td style="vertical-align:top; width:15px">
                                    @Dot()
                                </td>
                                <td colspan="1" style="text-align: left"><b style="font-size:14px;">@Model.CompletedWithEstimateErrors.Count completed items with remaining estimate</b></td>
                            </tr>
                            }
                            @if (Model.CompletedWithNoWorkErrors.Count > 0)
                            {
                            <tr>
                                <td style="vertical-align:top; width:15px">
                                    @Dot()
                                </td>
                                <td colspan="1" style="text-align: left"><b style="font-size:14px;">@Model.CompletedWithNoWorkErrors.Count completed items with no work logged</b></td>
                            </tr>
                            }
                            @if (Model.UnassignedErrors.Count > 0)
                            {
                            <tr>
                                <td style="vertical-align:top; width:15px">
                                    @Dot()
                                </td>
                                <td colspan="1" style="text-align: left"><b style="font-size:14px;">@Model.UnassignedErrors.Count unassigned items with no estimate</b></td>
                            </tr>
                            }
                            @if (Model.AuthorsWithErrors != null && Model.AuthorsWithErrors.Count > 0)
                            {
                                foreach (var author in Model.AuthorsWithErrors)
                                {
                            <tr>
                                <td style="vertical-align:top; width:15px">
                                    @Dot()
                                </td>
                                <td colspan="1" style="text-align: left"><b style="font-size:14px;">@author.FirstName has @author.Errors.Count items with no estimate</b></td>
                            </tr>
                                }
                            }
                            @if (Model.IsFinalDraft && !Model.Policy.AdvancedOptions.NoIndividualDraft)
                            {
                                if (Model.AuthorsNotConfirmed.Count > 0)
                                {
                                    foreach (var author in Model.AuthorsNotConfirmed)
                                    {
                            <tr>
                                <td style="vertical-align:top; width:15px">
                                    @Dot()
                                </td>
                                <td colspan="1" style="text-align: left">
                                    <b style="font-size:14px;">@author.FirstName has not confirmed draft</b>
                                </td>
                            </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}

<table style="border:1px solid #DDD; border-collapse:collapse; min-width:250px;">
    <tbody>
        @if (Model.UnrelatedPullRequests.Count > 0)
        {
            <tr>
                <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                    <b style="color:black; font-size:14px">Unrelated pull requests</b>
                </th>
                <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                    @Partial("Views/UnrelatedPullRequests.cshtml", Model.UnrelatedPullRequests)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.HasStatus)
{
    <table cellspacing="0" style="padding-top:30px">
        <tbody>
            <tr>
                <td colspan="2">
                    <h3 style="margin-top:15px; color:black">Status (h / day)</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    @Square("#5CB85C")
                                </td>
                                <td style="padding-right:5px;">
                                    <span style="color:black; font-size:11px; padding-left:2px">@day</span>
                                </td>
                                <td>
                                    @Square("#999")
                                </td>
                                <td style="padding-right:5px">
                                    <span style="color:black; font-size:11px; padding-left:2px">Estimated avg.</span>
                                </td>
                                <td>
                                    @Square("#FF6600")
                                </td>
                                <td style="padding-right:5px;">
                                    <span style="color:black; font-size:11px; padding-left:2px">Done avg.</span>
                                </td>
                                <td>
                                    @Square("#337AB7")
                                </td>
                                <td style="padding-right:5px;">
                                    <span style="color:black; font-size:11px; padding-left:2px">Remaining avg.</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="75px" height="20px"></td>
            </tr>
            @if (Model.HasSprint)
            {
                <tr>
                    <td width="75" height="55" style="max-width:75px; max-height:55px; border-right:1px solid #ABABAB; padding-right:10px; padding-bottom:10px; text-align:center; vertical-align:middle; color:black">
                        <img src="https://dailyreport.equilobe.com/content/images/report/sprint.png" />
                        <span style="color:black; display:inline-block; padding-top:5px">Sprint</span>
                    </td>
                    <td style="padding:0px; padding-bottom:10px; height:75px">
                        @Partial("Views/guidelines.cshtml", Model.GuidelineInfoStatus)
                        @if (Model.Timing.AverageWorked >= 0.1)
                        {
                            @ChartBar("#5CB85C", @Model.SprintWidths.DayWidth, @Model.ChartMaxWidth, @Model.Timing.AverageWorkedString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }
                        @if (Model.Policy.AllocatedHoursPerMonth > 0 && Model.Timing.SprintAverageEstimate >= 0.1)
                        {
                            @ChartBar("#999", @Model.SprintWidths.EstimatedWidth, @Model.ChartMaxWidth, @Model.Timing.SprintAverageEstimateString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }
                        @if (Model.Timing.AverageWorkedSprint >= 0.1)
                        {
                            @ChartBar("#FF6600", @Model.SprintWidths.DoneWidth, @Model.ChartMaxWidth, @Model.Timing.AverageWorkedSprintString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }
                        @if (Model.Timing.RemainingSprintAverage >= 0.1)
                        {
                            @ChartBar("#337AB7", @Model.SprintWidths.RemainingWidth, @Model.ChartMaxWidth, @Model.Timing.RemainingSprintAverageString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="75px" height="20px"></td>
                </tr>

            }

            @if (Model.HasMonth)
            {
                <tr>
                    <td width="75" height="55" style="max-width:55px; max-height:55px; border-right:1px solid #ABABAB; padding-right:10px; padding-bottom:10px; text-align:center; vertical-align:middle; color:black">
                        <img src="https://dailyreport.equilobe.com/content/images/report/calendar_month.png" />
                        <span style="color:black; display:inline-block; padding-top:5px">Month</span>
                    </td>
                    <td style="padding:0px; padding-bottom:10px; height:55px;">
                        @Partial("Views/guidelines.cshtml", Model.GuidelineInfoStatus)

                        @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")

                        @if (Model.Policy.AllocatedHoursPerMonth > 0 && Model.Timing.MonthAverageEstimated >= 0.1)
                        {
                            @ChartBar("#999", @Model.MonthWidths.EstimatedWidth, @Model.ChartMaxWidth, @Model.Timing.MonthAverageEstimatedString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }
                        @if (Model.Timing.AverageWorkedMonth >= 0.1)
                        {
                            @ChartBar("#FF6600", @Model.MonthWidths.DoneWidth, @Model.ChartMaxWidth, @Model.Timing.AverageWorkedMonthString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }
                        @if (Model.Policy.AllocatedHoursPerMonth > 0 && Model.Timing.RemainingMonthAverage >= 0.1)
                        {
                            @ChartBar("#337AB7", @Model.MonthWidths.RemainingWidth, @Model.ChartMaxWidth, @Model.Timing.RemainingMonthAverageString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@if (Model.HasWorkSummary)
{
    <table cellspacing="0" style="padding-top:30px">
        <tbody>
            <tr>
                <td colspan="2">
                    <h3 style="color:black">Team summary (h / day)</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                @Square("#5CB85C")
                            </td>
                            <td style="padding-right:5px">
                                <span style="color:black; font-size:11px; padding-left:2px">@day</span>
                            </td>

                            @if (Model.Sprint != null)
                            {
                                <td>
                                    @Square("#F60")
                                </td>
                                <td style="padding-left:2px">
                                    <span style="color:black; font-size:11px; padding-left:2px">Sprint avg.</span>
                                </td>
                            }
                            <td>
                                @Square("#F0AD4E")
                            </td>
                            <td style="padding-left:2px">
                                <span style="color:black; font-size:11px; padding-left:2px">Month avg.</span>
                            </td>
                            <td>
                                @Square("#337AB7")
                            </td>
                            <td style="padding-left:2px">
                                <span style="color:black; font-size:11px; padding-left:2px">Remaining avg.</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="75px" height="20px"></td>
            </tr>
            @foreach (var author in Model.Authors)
            {
                <tr>
                    <td width="75" height="55" style="max-width:75px; max-height:55px; border-right:1px solid #ABABAB; padding-right:15px; padding-bottom:10px; text-align:center; vertical-align:middle; color:black">
                        <img src="cid:@author.AvatarId" />
                        <span style="color:black; display:inline-block; padding-top:5px">@author.ShortName</span>
                    </td>
                    <td height="55" style="padding:0px; padding-bottom:10px;">
                        @Partial("Views/guidelines.cshtml", Model.GuidelineInfoWorkSummary)
                        @if (author.Timing.AverageWorkedHours >= 0.1)
                        {
                            @ChartBar("#5CB85C", @author.DayChartPixelWidth, @Model.ChartMaxWidth, @author.Timing.AverageWorkedString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }

                        @if (author.Timing.AverageWorkedSprintHours >= 0.1)
                        {
                            @ChartBar("#F60", @author.SprintChartPixelWidth, @Model.ChartMaxWidth, @author.Timing.AverageWorkedSprintString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }

                        @if (author.Timing.AverageWorkedMonthHours >= 0.1)
                        {
                            @ChartBar("#F0AD4E", @author.MonthChartPixelWidth, @Model.ChartMaxWidth, @author.Timing.AverageWorkedMonthString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }

                        @if (author.Timing.TotalRemainingAverage >= 0.1)
                        {
                            @ChartBar("#337AB7", @author.RemainingChartPixelWidth, @Model.ChartMaxWidth, @author.Timing.TotalRemainingString)
                        }
                        else
                        {
                            @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="75px" height="20px"></td>
                </tr>
            }



            @if (Model.Timing.UnassignedTasksHoursAverageLeft >= 0.1)
            {
                <tr>
                    <td style="width:75px; height:55px; max-width:75px; max-height:55px; border-right:1px solid #ABABAB; padding-right:15px; padding-bottom:10px; text-align:center; vertical-align:middle; color:black">
                        <img src="https://dailyreport.equilobe.com/content/images/report/unassigned.png" />
                        <span style="color:black; display:inline-block; padding-top:5px">Unassigned</span>
                    </td>
                    <td style="padding:0px; padding-bottom:10px; height:55px">
                        @Partial("Views/guidelines.cshtml", Model.GuidelineInfoWorkSummary)

                        @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        @ChartBar("white", @Model.ChartMaxBarWidth, @Model.ChartMaxWidth, "")
                        @ChartBar("#337AB7", @Model.UnassignedRemainingChartPixelWidth, @Model.ChartMaxWidth, @Model.Timing.UnassignedTasksTimeLeftString)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
