@{
    var day = string.Empty;
    var imgSrc = string.Empty;
    var items = "";
    var colspanAtr = "";
}
@if ((Model.ToDate - Model.FromDate).TotalDays > 1)
{
    day = "Avg. work logged during report days (h/day)";
}
else
{
    day = "Work logged on " + Model.FromDate.DayOfWeek.ToString();
}
<br />
<table style="border:1px solid #DDD; border-collapse:collapse; min-width:250px;">

    @if (Model.UnrelatedPullRequests.Count > 0)
    {
        <tr>
            <th colspan="1" style="background-color:#F0F0F0; padding:5px; vertical-align:top; text-align:left; border:1px solid #DDD">
                <span style="color:black; font-size:14px">Unrelated pull requests</span>
            </th>
            <td colspan="1" style="vertical-align: top; text-align: left; padding:5px; border:1px solid #DDD">
                @Partial("Views/UnrelatedPullRequests.cshtml", Model.UnrelatedPullRequests)
            </td>
        </tr>
    }

</table>
<br />
@if (Model.HasStatus)
{
    <table width="440" cellspacing="0">
        <tr>
            <td width="10" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
            <td width="80" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
            <td width="130" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
            <td width="10" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
            <td width="210" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="5" height="16">
                <h3 style="margin:0px; color:black">Status</h3>
            </td>
        </tr>
        @Spacing(5, 5)

        <tr>
            @if (Model.Policy.AllocatedHoursPerDay > 0 || Model.Policy.AllocatedHoursPerMonth > 0)
            {
                colspanAtr = "colspan='2'";
            }
            else
            {
                colspanAtr = "colspan='4'";
            }
            <td>
                @Square("#5CB85C")
            </td>
            <td @colspanAtr>
                <span style="color:black; font-size:11px; padding-left:2px">@day</span>
            </td>
            @if (Model.Policy.AllocatedHoursPerDay > 0 || Model.Policy.AllocatedHoursPerMonth > 0)
            {
                <td>
                    @Square("#999")
                </td>
                <td>
                    <span style="color:black; font-size:11px; padding-left:2px">Avg. estimated work (h/day)</span>
                </td>
            }
        </tr>
        <tr>
            @if (Model.Sprint != null || Model.Policy.AllocatedHoursPerMonth > 0)
            {
                colspanAtr = "colspan='2'";
            }
            else
            {
                colspanAtr = "colspan='4'";
            }
            <td>
                @Square("#FF6600")
            </td>
            <td @colspanAtr>
                <span style="color:black; font-size:11px; padding-left:2px">Avg. work logged (h/day)</span>
            </td>
            @if (Model.Sprint != null || Model.Policy.AllocatedHoursPerMonth > 0)
            {
                <td>
                    @Square("#337AB7")
                </td>
                <td>
                    <span style="color:black; font-size:11px; padding-left:2px">Avg. remaining work (h/day)</span>
                </td>
            }
        </tr>

        @Spacing(20, 4)

        @if (Model.HasSprint)
        {
            <tr>
                <td width="90" height="55" colspan="2" style="border-right:1px solid #ABABAB; text-align:center; vertical-align:middle; color:black">
                    <table>
                        <tr>
                            <td align="center" width="90" height="48" style="text-align:center">
                                <img src="https://dailyreport.equilobe.com/content/images/report/sprint.png" />
                            </td>
                        </tr>
                        <tr>
                            <td width="90" align="center" style="text-align:center">
                                <span style="color:black;">@Model.Sprint.name</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="90" align="center" style="text-align:center">
                                <span style="color:black;">@Model.SprintStatus</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="350" height="75" colspan="3" style="padding:0px;">
                    @Partial("Views/guidelines.cshtml", Model.GuidelineInfoStatus)
                    @if (Model.Timing.AverageWorked >= 0.1)
                    {
                        @ChartBar("#5CB85C", @Model.SprintDay.Width, @Model.ChartMaxWidth, @Model.SprintDay.ActualValue)
                    }
                    else
                    {
                        @ChartBar("white", @Model.StatusChartWidth, @Model.ChartMaxWidth, "")
                    }
                    @if (Model.Policy.AllocatedHoursPerMonth > 0)
                    {
                        if (Model.Timing.SprintAverageEstimate >= 0.1)
                        {
                            @ChartBar("#999", @Model.SprintEstimated.Width, @Model.ChartMaxWidth, @Model.SprintEstimated.ActualValue)
                        }
                        else
                        {
                            @ChartBar("white", @Model.StatusChartWidth, @Model.ChartMaxWidth, "")
                        }
                    }
                    @if (Model.Timing.AverageWorkedSprint >= 0.1)
                    {
                        @ChartBar("#FF6600", @Model.SprintDone.Width, @Model.ChartMaxWidth, @Model.SprintDone.ActualValue)
                    }
                    else
                    {
                        @ChartBar("white", @Model.StatusChartWidth, @Model.ChartMaxWidth, "")
                    }
                    @if (Model.Timing.RemainingSprintAverageHours >= 0.1 && Model.Sprint.state != "CLOSED")
                    {
                        @ChartBar("#337AB7", @Model.SprintRemaining.Width, @Model.ChartMaxWidth, @Model.SprintRemaining.ActualValue)
                    }
                    else
                    {
                        @ChartBar("white", @Model.StatusChartWidth, @Model.ChartMaxWidth, "")
                    }
                </td>
            </tr>
            @Spacing(20, 5)
        }

        @if (Model.HasMonth)
        {
            <tr>
                <td width="90" height="55" colspan="2" style="border-right:1px solid #ABABAB; text-align:center; vertical-align:middle; color:black">
                    <table>
                        <tr>
                            <td align="center" width="90" height="48" style="text-align:center">
                                <img src="https://dailyreport.equilobe.com/content/images/report/calendar_month.png" />
                            </td>
                        </tr>
                        <tr>
                            <td width="90" align="center" style="text-align:center">
                                <span style="color:black; ">@Model.MonthName</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="90" align="center" style="text-align:center">
                                <span style="color:black; ">@Model.MonthStatus</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="440" height="55" colspan="3" style="padding:0px; padding-bottom:10px;">
                    @Partial("Views/guidelines.cshtml", Model.GuidelineInfoStatus)

                    @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")

                    @if (Model.Policy.AllocatedHoursPerMonth > 0)
                    {
                        if (Model.Timing.MonthAverageEstimated >= 0.1)
                        {
                            @ChartBar("#999", @Model.MonthEstimated.Width, @Model.ChartMaxWidth, @Model.MonthEstimated.ActualValue)
                        }
                        else
                        {
                            @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                        }
                    }
                    @if (Model.Timing.AverageWorkedMonth >= 0.1)
                    {
                        @ChartBar("#FF6600", @Model.MonthDone.Width, @Model.ChartMaxWidth, @Model.MonthDone.ActualValue)
                    }
                    else
                    {
                        @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                    }
                    @if (Model.Policy.AllocatedHoursPerMonth > 0 && Model.Timing.RemainingMonthAverage >= 0.1)
                    {
                        @ChartBar("#337AB7", @Model.MonthRemaining.Width, @Model.ChartMaxWidth, @Model.MonthRemaining.ActualValue)
                    }
                    else
                    {
                        @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                    }
                </td>
            </tr>
        }
    </table>

}

@if (Model.HasWorkSummary)
{
    <table width="480" cellspacing="0">
        <tr>
            <td width="10" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
            <td width="80" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
            <td width="150" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
            <td width="10" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
            <td width="230" height="1" style="font-size:1px; line-height:1px">
                &nbsp;
            </td>
        </tr>

        @Spacing(20,5)

        <tr>
            <td colspan="5">
                <h3 style="color:black; margin:0px">Team summary</h3>
            </td>
        </tr>

        @Spacing(5, 5)

        @if (Model.Sprint == null)
        {
            colspanAtr = "colspan='4'";
        }
        else
        {
            colspanAtr = "colspan='2'";
        }
        <tr>
            <td>
                @Square("#5CB85C")
            </td>
            <td @colspanAtr>
                <span style="color:black; font-size:11px; padding-left:2px">@day</span>
            </td>

            @if (Model.Sprint != null)
            {
                <td>
                    @Square("#F60")
                </td>
                <td>
                    <span style="color:black; font-size:11px; padding-left:2px">Avg. work logged in @Model.Sprint.name (h/day)</span>
                </td>
            }

        </tr>
        <tr>
            <td>
                @Square("#F0AD4E")
            </td>
            <td @colspanAtr>
                <span style="color:black; font-size:11px; padding-left:2px">Avg. work logged in @Model.MonthName (h/day)</span>
            </td>
            @if (Model.Sprint != null)
            {
                <td>
                    @Square("#337AB7")
                </td>
                <td>
                    <span style="color:black; font-size:11px; padding-left:2px">Avg. remaining work (h/day)</span>
                </td>
            }
        </tr>
        @Spacing(20, 5)
        @foreach (var author in Model.Authors)
        {
            if (!author.IsEmpty)
            {
                <tr>
                    <td width="90" colspan="2" style="border-right:1px solid #ABABAB; text-align:center; vertical-align:middle; color:black">
                        <table>
                            <tr>
                                <td align="center" width="90" height="48" style="text-align:center">
                                    <img src="@author.ReportAvatarLink" />
                                </td>
                            </tr>
                            <tr>
                                <td width="90" align="center" style="text-align:center">
                                    <span style="color:black; ">@author.ShortName</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="3" style="padding:0px; padding-bottom:10px;">
                        @Partial("Views/guidelines.cshtml", Model.GuidelineInfoWorkSummary)
                        @if (author.Timing.AverageWorkedHours >= 0.1)
                        {
                            @ChartBar("#5CB85C", @author.Day.Width, @Model.ChartMaxWidth, @author.Day.ActualValue)
                        }
                        else
                        {
                            @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                        }

                        @if (Model.Sprint != null)
                        {
                            if (author.Timing.AverageWorkedSprintHours >= 0.1)
                            {
                                @ChartBar("#F60", @author.Sprint.Width, @Model.ChartMaxWidth, @author.Sprint.ActualValue)
                            }
                            else
                            {
                                @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                            }
                        }

                        @if (author.Timing.AverageWorkedMonthHours >= 0.1)
                        {
                            @ChartBar("#F0AD4E", @author.Month.Width, @Model.ChartMaxWidth, @author.Month.ActualValue)
                        }
                        else
                        {
                            @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                        }

                        @if (Model.Sprint != null)
                        {
                            if (author.Timing.TotalRemainingAverage >= 0.1 && Model.Sprint.state != "CLOSED")
                            {
                                @ChartBar("#337AB7", @author.Remaining.Width, @Model.ChartMaxWidth, @author.Remaining.ActualValue)
                            }
                            else
                            {
                                @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                            }
                        }

                    </td>
                </tr>
                @Spacing(20, 5)
            }
        }



        @if (Model.Timing.UnassignedTasksHoursAverageLeft >= 0.1 && Model.Sprint.state != "CLOSED")
        {
            <tr>
                <td width="90" colspan="2" style="border-right:1px solid #ABABAB;text-align:center; vertical-align:middle; color:black">
                    <table>
                        <tr>
                            <td align="center" width="90" height="48" style="text-align:center">
                                <img src="https://dailyreport.equilobe.com/content/images/report/unassigned.png" />
                            </td>
                        </tr>
                        <tr>
                            <td width="90" align="center" style="text-align:center">
                                <span style="color:black;">Unassigned</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="3" style="padding:0px; padding-bottom:10px;">
                    @Partial("Views/guidelines.cshtml", Model.GuidelineInfoWorkSummary)

                    @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                    @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                    @ChartBar("white", @Model.SummaryChartWidth, @Model.ChartMaxWidth, "")
                    @ChartBar("#337AB7", @Model.UnassignedRemaining.Width, @Model.ChartMaxWidth, @Model.UnassignedRemaining.ActualValue)
                </td>
            </tr>
        }

    </table>
}
