@{
    var remainingEstimate = "";
    var colorTotal = "black";
    var color = "black";
    var tasks = "";
    var comma = "";
    var openParentheses = "(";
    var closedParentheses = ")";
    var indentation = "";
    var totalTimeSpent = "";
    var revision = "";
    var tooltipWorked = "";
    var tooltipCommit = "";
}
<table width="600" style="min-width:0 !important; font-family:'Segoe UI', sans-serif, Arial; font-size:12px;">

    <tr>
        <td>
            @Partial("Views/header.cshtml", Model)

            <br />
            @if (Model.Summary.HasErrors)
            {
                @Partial("Views/errorsSection.cshtml", Model)
            }
            <table cellpadding="0" cellspacing="0">
                @Partial("Views/summary.cshtml", Model.Summary)
            </table>

            <table width="600" cellpadding="0" cellspacing="0" style="line-height:1.4em;">
                <tr>
                    <td width="15" height="1" style="font-size:1px; line-height:1px;padding:0px">
                        &nbsp;
                    </td>
                    <td width="15" height="1" style="font-size:1px; line-height:1px;padding:0px">
                        &nbsp;
                    </td>
                    <td width="570" height="1" style="font-size:1px; line-height:1px;padding:0px">
                        &nbsp;
                    </td>
                </tr>
                @if (Model.Authors.Count > 0)
                {
                    foreach (var author in Model.Authors)
                    {
                        @Partial("Views/author.cshtml", author)
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" style="color: orange">
                            There is no work logged or assigned issues.
                        </td>
                    </tr>
                }

                @if (Model.HasSprint && Model.Summary.UnassignedTasksCount > 0)
                {
                    @Partial("Views/unassignedSection.cshtml", Model)
                }
                
                @if (Model.ReportTasks.CompletedTasksAll != null && Model.ReportTasks.CompletedTasksAll.Count > 0)
                {
                    @Partial("Views/completedTasks.cshtml", Model.ReportTasks)
                }
                
            </table>

            <br />
            <br />

            @if (Model.IsFinalDraft)
            {
                @Partial("Views/fullDraftButtons.cshtml", Model)
            }
            <br />
            <br />

            @Partial("Views/footer.cshtml", Model)
        </td>
    </tr>

</table>