@{
    var remainingEstimate = "";
    var colorTotal = "black";
    var color = "black";
    var tasks = "";
    var comma = "";
    var openParentheses = "(";
    var closedParentheses = ")";
    var indentation = "";
    var totalTimeSpent = "";
    var revision = "";
    var tooltipWorked = "";
    var tooltipCommit = "";
}
<table width="600" style="min-width:0 !important; font-family:'Segoe UI', Arial, sans-serif; font-size:12px">
    <tbody>
        <tr>
            <td>
                @Partial("Views/header.cshtml", Model)

                <table>
                    <tr>
                        <td height="15" style="font-size:15px; line-height:15px">
                            &nbsp;
                        </td>
                    </tr>
                </table>

                <table style="padding-top:30px">
                    @Partial("Views/summary.cshtml", Model.Summary)
                </table>

                <table style="padding-top:20px; line-height:1.4em;">
                    @if (Model.Authors.Count > 0)
                    {
                        foreach (var author in Model.Authors)
                        {
                            @Partial("Views/author.cshtml", author)
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="color: orange">
                                There is no work logged or assigned issues.
                            </td>
                        </tr>
                    }
                </table>
                @if (Model.HasSprint && Model.Summary.UnassignedTasksCount > 0)
                {
                    @Partial("Views/unassignedSection.cshtml", Model)
                }

                @if (Model.ReportTasks.CompletedTasks != null && Model.ReportTasks.CompletedTasks.Count > 0)
                {
                    @Partial("Views/completedTasks.cshtml", Model.ReportTasks)
                }
                
                <table>
                    <tr>
                        <td height="20">
                            &nbsp;
                        </td>
                    </tr>
                </table>

                @if (Model.IsFinalDraft)
                {
                    @Partial("Views/fullDraftButtons.cshtml", Model)
                }
                <table>
                    <tr>
                        <td height="25">
                            &nbsp;
                        </td>
                    </tr>
                </table>
                @Partial("Views/footer.cshtml", Model)
            </td>
        </tr>
    </tbody>
</table>