<div style="margin-top:15px; font-size:12px; color:#000000;">
      @if((Model.options.ToDate - Model.options.FromDate).Days <=1)
        {
           <h2 style="color:black"> @Model.Title Daily Report for @Model.Date.ToString("dddd, dd MMMM yyyy") </h2>
        }
      else
      {
        <h2 style="color:black">@Model.Title Daily Report for @Model.options.FromDate.ToString("dddd, dd MMMM yyyy") - @Model.options.ToDate.AddDays(-1).ToString("dddd, dd MMMM yyyy")</h2>
      }  
    @{
        var bold = "";
        var remainingEstimate = "";
        var colorTotal = "black";
        var color="black";
        var tasks="";
        var comma = "";
        var openParentheses = "(";
        var closedParentheses = ")";
        var indentation = "";
        var totalTimeSpent = "";
        var revision="";
        var tooltipWorked = "";
        var tooltipCommit = "";
     }
  
<div>
    @Partial("Views/summary.cshtml", Model.Summary)
</div>

    <div style="margin-top:40px; line-height:1.4em;">
        @if(Model.Authors.Count>0)
        { 
              foreach (var author in Model.Authors)
              {
                    <div style="margin-top:40px;">
                        <h1 style="color:black">@author.Name</h1>
                        @if (author.DayLogs.Count > 0)
                        {
                            foreach (var dayLog in author.DayLogs)
                            {
                                <div style="margin-top:15px; line-height:1.4em">
                                    @Partial("Views/workedHeader.cshtml", dayLog)
                                    @if (dayLog.Issues != null)
                                    {
                                        if (dayLog.Issues.Count > 0)
                                        {
                                            <table style="margin-left:10px;" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                @foreach (var issue in dayLog.Issues)
                                                {
                                                        @Partial("Views/workedTask.cshtml", issue)
                                                }
                                                </tbody>
                                            </table>
                                        }
                                    }
                                </div>
                             
                                if (dayLog.UnsyncedCommits.Count > 0)
                                {
                                    @Partial("Views/unrelatedCommits.cshtml", dayLog.UnsyncedCommits)
                                }
                            }
                        }                                                                   

                        @if (author.InProgressTasks.Count > 0)
                        {
                            <div style="margin-top:20px; line-height:1.4em;">
                                <b style="color:sienna; font-size:16px;">Today</b>

                                @if (author.InProgressTasksTimeLeftSeconds == 0)
                                { 
                                    <span style="color:red; font-size:12px;"> &#x25cf; @author.InProgressTasksTimeLeft left</span>
                                }
                                else
                                {
                                    <span style="color:sienna; font-size:12px;"> &#x25cf; @author.InProgressTasksTimeLeft left</span>
                                }
                                <table style="margin-left:10px;" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        @foreach (var task in author.InProgressTasks)
                                        {
                                            @Partial("Views/inProgress.cshtml", task.Issue)                                         
                                               
                                             @*if (task.Issue.SubtasksIssues != null)
                                                {
                                                    if (task.Issue.SubtasksIssues.Count > 0)
                                                    {
                                                    @Partial("Views/subtasks.cshtml", task.Issue)
                                                    }
                                                }*@                                                                                                                      
                                        }
                                    </tbody>                                    
                                </table>
                           </div>
                        }   
                        
                        @if(author.OpenTasks.Count>0)
                        {
                            <div style="line-height:1.4em; color:sienna; margin-top:20px;">
                                    <b style="font-size: 16px; color: sienna">Upcoming </b>
                                    @if (author.OpenTasksTimeLeftSeconds != 0)                     
                                    {
                                        <span style="color: sienna; font-size:12px;"> &#x25cf; @author.OpenTasksTimeLeft left</span>
                                    }
                                    else
                                    {
                                        <span style="color:red; font-size:12px;">&#x25cf; @author.OpenTasksTimeLeft left</span>
                                    }
                                <table style="margin-left:10px;" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        @foreach (var task in author.OpenTasks)
                                        {
                                                @Partial("Views/openTasks.cshtml", task)
                                            @*if (task.Issue.SubtasksIssues != null)
                                                {
                                                if (task.Issue.SubtasksIssues.Count > 0)
                                                {
                                                @Partial("Views/subtasks.cshtml", task.Issue)
                                                }
                                                }*@
                                            
                                        }
                                    </tbody>                                 
                                </table>
                            
                            </div>
                        }                    
                    </div>                       
                }
            }
        </div>

            @if (Model.Sprint.UnassignedCount>0)
            {
                <div style="margin-top:60px; line-height:1.4em;">
                    <h1 style="color:black">Unassigned </h1>
                    <table style="margin-left:10px;" cellpadding="0" cellspacing="0">
                        <tbody>
                            @foreach (var task in Model.Sprint.UnassignedTasks)
                            {
                                    @Partial("Views/unassignedTasks.cshtml", task)
                               
                                    @*if (task.Issue.SubtasksIssues != null)
                                    {
                                    if (task.Issue.SubtasksIssues.Count > 0)
                                    {
                                    @Partial("Views/subtasks.cshtml", task.Issue)
                                    }
                                    }*@                                                                                     
                            }
                        </tbody>
                    </table>                                          
                </div>
            } 
    
         @if(Model.UnrelatedPullRequests.Count>0)
         {
             <div style="margin-top:60px">
                 @Partial("Views/unrelatedPullRequests.cshtml", Model.UnrelatedPullRequests)
             </div>
         }       
            
        @Partial("Views/completedTasks.cshtml", Model.Sprint)
</div>