@{
    var remainingEstimate = "";
    var colorTotal = "black";
    var color = "black";
    var tasks = "";
    var comma = "";
    var openParentheses = "(";
    var closedParentheses = ")";
    var indentation = "";
    var totalTimeSpent = "";
    var revision = "";
    var tooltipWorked = "";
    var tooltipCommit = "";
}
<table width="600" style="min-width:0 !important; font-family:'Segoe UI', Arial, sans-serif; font-size:12px">

    <tr>
        <td>
            @Partial("Views/header.cshtml", Model)

            <br />
            <br />
            <br />

            <table>
                @Partial("Views/summary.cshtml", Model.Summary)
            </table>

            <table style="line-height:1.4em;">
                @if (Model.Authors.Count > 0)
                {
                    foreach (var author in Model.Authors)
                    {
                        @Partial("Views/author.cshtml", author)
                    }
                }
                else
                {
                    <tr>
                        <td style="color: orange">
                            There is no work logged or assigned issues.
                        </td>
                    </tr>
                }
            </table>
            @if (Model.HasSprint && Model.Summary.UnassignedTasksCount > 0)
            {
                @Partial("Views/unassignedSection.cshtml", Model)
            }

            @if (Model.ReportTasks.CompletedTasks != null && Model.ReportTasks.CompletedTasks.Count > 0)
            {
                @Partial("Views/completedTasks.cshtml", Model.ReportTasks)
            }

            <br />
            <br />

            @if (Model.IsFinalDraft)
            {
                @Partial("Views/fullDraftButtons.cshtml", Model)
            }
            <br />
            <br />

            @Partial("Views/footer.cshtml", Model)
        </td>
    </tr>

</table>