<div style="margin-top:15px; font-size:12px; color:#000000;">
    @*<table>
        <tbody>
            <tr>
                @if (!Model.Policy.AdvancedOptions.NoDraft)
                {
                    <td style="border-right:1px solid black; display:inline-block; line-height:20px; height:20px">
                        <h3 style="color:black; padding-right:10px;; display:inline">DRAFT</h3>
                    </td>
                }
                <td style="border-right:1px solid black; display:inline-block; line-height:20px; height:20px"">
                    <h3 style="color:black; padding-left:10px; padding-right:10px; display:inline">@Model.Policy.ProjectKey Daily Report</h3>
                </td>
                <td style="display:inline-block; line-height:20px; height:20px"">
                    @if ((Model.Options.ToDate - Model.Options.FromDate).Days > 1)
                    {
                        <h3 style="color:black; padding-left:10px; display:inline"> @Model.Options.FromDate.ToString("ddd, dd MMM") - @Model.Options.ToDate.AddDays(-1).ToString("ddd, dd MMM")  </h3>
                    }
                    else
                    {
                        <h3 style="color:black; padding-left:10px; display:inline"> @Model.Options.FromDate.ToString("ddd, dd MMM yyyy") </h3>
                    }
                </td>
            </tr>
        </tbody>
    </table>*@
    <h3 style="color:black">@Model.Title</h3>

    @{
        var bold = "";
        var remainingEstimate = "";
        var colorTotal = "black";
        var color = "black";
        var tasks = "";
        var comma = "";
        var openParentheses = "(";
        var closedParentheses = ")";
        var indentation = "";
        var totalTimeSpent = "";
        var revision = "";
        var tooltipWorked = "";
        var tooltipCommit = "";
    }

    <div>
        @Partial("Views/summary.cshtml", Model.Summary)
    </div>

    <div style="margin-top:40px; line-height:1.4em;">
        @if (Model.Authors.Count > 0)
        {
            foreach (var author in Model.Authors)
            {
                if (author.DayLogs.Count > 0 || author.InProgressTasks.Count > 0 || author.OpenTasks.Count > 0)
                {
                    <div style="margin-top:40px;">
                        <h1 style="color:black; line-height:1.4em">@author.Name</h1>
                        @if (author.DayLogs.Count > 0)
                        {
                            foreach (var dayLog in author.DayLogs)
                            {
                                <div style="margin-top:15px; line-height:1.4em">
                                    @Partial("Views/workedHeader.cshtml", dayLog)
                                    @if (dayLog.Issues != null)
                                    {
                                        if (dayLog.Issues.Count > 0)
                                        {
                                            <table style="margin-left:10px; margin-top:5px" cellpadding="1.5px">
                                                <tbody>
                                                    @foreach (var issue in dayLog.Issues)
                                                    {
                                                        if (issue.AssigneeSubtasks != null)
                                                        {
                                                            if (issue.AssigneeSubtasks.Count > 0)
                                                            {
                                                                if (issue.ExistsInTimesheet == true && issue.LoggedAuthor == author.Name)
                                                                {
                                                                    @Partial("Views/workedTask.cshtml", issue)
                                                                }
                                                                else
                                                                {
                                                                    @Partial("Views/parentTask.cshtml", issue)
                                                                }
                                                                foreach (var subtask in issue.AssigneeSubtasks)
                                                                {
                                                                    @Partial("Views/workedTask.cshtml", subtask)
                                                                }
                                                            }
                                                        }
                                                        if (issue.AssigneeSubtasks == null || issue.AssigneeSubtasks.Count == 0)
                                                        {
                                                            if (issue.SubTask == false)
                                                            {
                                                                @Partial("Views/workedTask.cshtml", issue)
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    }
                                </div>

                                if (dayLog.UnsyncedCommits.Count > 0)
                                {
                                    @Partial("Views/unrelatedCommits.cshtml", dayLog.UnsyncedCommits)
                                }
                            }
                        }

                        @if (author.InProgressTasks.Count > 0)
                        {
                            <div style="margin-top:20px; line-height:1.4em;">
                                <b style="color:sienna; font-size:16px;">In Progress</b>

                                @if (author.InProgressTasksTimeLeftSeconds == 0)
                                {
                                    <span style="color:red; font-size:12px;"> &#x25cf; @author.InProgressTasksTimeLeft left</span>
                                }
                                else
                                {
                                    <span style="color:sienna; font-size:12px;"> &#x25cf; @author.InProgressTasksTimeLeft left</span>
                                }
                                <table style="margin-left:10px; margin-top:5px" cellpadding="1.5px">
                                    <tbody>
                                        @foreach (var task in author.InProgressTasksParents)
                                        {
                                            if (task.Assignee == author.Name)
                                            {
                                                @Partial("Views/uncompletedTask.cshtml", task)
                                                if (task.SubtasksIssues != null)
                                                {
                                                    if (task.SubtasksIssues.Count > 0)
                                                    {
                                                        foreach (var subtask in task.SubtasksIssues)
                                                        {
                                                            @Partial("Views/subtasks.cshtml", subtask)
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                @Partial("Views/parentTask.cshtml", task)
                                                foreach (var subtask in task.AssigneeSubtasks)
                                                {
                                                    @Partial("Views/subtasks.cshtml", subtask)
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                        @if (author.OpenTasks.Count > 0)
                        {
                            <div style="line-height:1.4em; color:sienna; margin-top:20px;">
                                <b style="font-size: 16px; color: sienna">Upcoming </b>
                                @if (author.OpenTasksTimeLeftSeconds != 0)
                                {
                                    <span style="color: sienna; font-size:12px;"> &#x25cf; @author.OpenTasksTimeLeft left</span>
                                }
                                else
                                {
                                    <span style="color:red; font-size:12px;">&#x25cf; @author.OpenTasksTimeLeft left</span>
                                }
                                <table style="margin-left:10px; margin-top:5px" cellpadding="1.5px">
                                    <tbody>
                                        @foreach (var task in author.OpenTasksParents)
                                        {
                                            if (task.Assignee == author.Name)
                                            {
                                                @Partial("Views/uncompletedTask.cshtml", task)
                                                if (task.SubtasksIssues != null)
                                                {
                                                    if (task.SubtasksIssues.Count > 0)
                                                    {
                                                        foreach (var subtask in task.SubtasksIssues)
                                                        {
                                                            @Partial("Views/subtasks.cshtml", subtask)
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                @Partial("Views/parentTask.cshtml", task)
                                                foreach (var subtask in task.AssigneeSubtasks)
                                                {
                                                    @Partial("Views/subtasks.cshtml", subtask)
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>
                        }
                    </div>
                }
            }
        }
    </div>

    @if (Model.Summary.UnassignedTasksCount > 0)
    {
        <div style="margin-top:60px; line-height:1.4em;">
            <h1 style="color:black">Unassigned </h1>
            <table style="margin-left:10px; margin-top:5px" cellpadding="1.5px">
                <tbody>
                    @foreach (var task in Model.SprintTasks.UnassignedTasks)
                    {
                        if (task.SubTask == false)
                        {
                            @Partial("Views/uncompletedTask.cshtml", task)
                        }
                    }
                </tbody>
            </table>
        </div>
    }

    @Partial("Views/completedTasks.cshtml", Model.SprintTasks)
   
    @if (!Model.Policy.AdvancedOptions.NoDraft)
    {
        <div>
            <table style="margin-top:50px; width:500px; height:150px; border:1px solid; border-color:#D6E9C6; background-color:#DFF0D8">
                <tbody>
                    <tr>
                        <td>
                        <h3 style="margin-left:10px; margin-bottom:5px; color:#468847;">Project Manager Only!</h3>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px" height="40px">
                            @Partial("Views/confirmationButton.cshtml", Model.Policy.DraftConfirmationUrl)
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <p style="color:#468847; font-weight:bold; margin:5px 0px 7px 10px">This will confirm the draft for ALL users and send the final report</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color:#808080; margin:0px 0px 0px 10px">Only click the button after:</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color:#808080; margin:0px 0px 0px 10px">- errors have been corrected</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color:#808080; margin:0px 0px 0px 10px">- everyone has logged their work</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color:#808080; margin:0px 0px 0px 10px">- sprint scope has been adjusted (if necessary)</p>
                        </td>
                    </tr>
                   <tr>
                       <td>
                           <hr style="border:0; border-top:1px solid #CCC; margin:20px 10px 20px 10px" />
                       </td>
                   </tr>
                   <tr>
                       <td width="100px" height="40px">
                           @Partial("Views/resendDraftButton.cshtml", Model.Policy.ResendDraftUrl)
                       </td>
                   </tr>                   
                    <tr>
                        <td>
                            <p style="color:#808080; margin:5px 0px 5px 10px">If the information in the report has changed and you want to see how it looks now, before confirming it, you can get a new one.</p>
                        </td>                 
                    </tr>
                </tbody>
            </table>
        </div>
    }

</div>