<div style="margin-top:15px; font-size:12px; color:#000000;">
      @if((Model.options.ToDate - Model.options.FromDate).Days <=1)
        {
           <h2 style="color:black"> @Model.Title Daily Report for @Model.Date.ToString("dddd, dd MMMM yyyy") </h2>
        }
      else
      {
        <h2 style="color:black">@Model.Title Daily Report for @Model.options.FromDate.ToString("dddd, dd MMMM yyyy") - @Model.options.ToDate.ToString("dddd, dd MMMM yyyy")</h2>
      }  
    @{
        var bold = "";
        var remainingEstimate = "";
        var colorTotal = "black";
        var color="black";
        var tasks="";
        var comma = "";
        var openParentheses = "(";
        var closedParentheses = ")";
        var identation = "";
        var totalTimeSpent = "";
        var revision="";
        var tooltipWorked = "";
        var tooltipCommit = "";
     }
  
<div>
    @Partial("Views/summary.cshtml", Model)
</div>

    <div style="margin-top:40px; line-height:1.4em;">
        @if(Model.Authors.Count>0)
        { 
              foreach (var author in Model.Authors)
              {
                    <div style="margin-top:40px;">
                        <h1 style="color:black">@author.Name</h1>
                        @if(author.Issues!=null)
                        {
                           if(author.Issues.Count > 0)
                           {
                             <div style="margin-top:25px; line-height:1.4em;">
                              @Partial("Views/workedHeader.cshtml", author)
                          
                                @foreach (var issue in author.Issues)
                                {
                                    if (issue.SubTask == true)
                                    {
                                        identation = "margin-left:25px";
                                        @Partial("Views/parentTask.cshtml", issue)          
                                    }                                                                                                     
                                    else
                                    {
                                        identation = "";
                                    }
                                    <div style="@identation;">
                                        <div style="margin-top:15px;">
                                            @Partial("Views/workedTask.cshtml", issue)
                                        </div>                                                                                                                                                                                                                           
                                    </div>                                                                                                                                                                 
                                }
                            </div>
                        }
                        }
                        @if (author.UnsyncedCommitsCount > 0)
                        {
                            @Partial("Views/unrelatedCommits.cshtml", author.Commits)
                        }
                        
                        @if (author.UnsyncedPullRequestsCount > 0)
                        {
                          @Partial("Views/unrelatedPullRequests.cshtml", author.PullRequests)
                        }

                        @if (author.InProgressTasks.Count > 0)
                        {
                            <div style="margin-top:20px; line-height:1.4em;">
                                <b style="color:sienna; font-size:13px;">Today &#x25cf; @author.InProgressTasks.Count </b>
                                    @if(author.InProgressTasks.Count==1)
                                    {
                                    <b style="color: sienna"> task </b>
                                    }
                                    else
                                    {
                                    <b style="color: sienna"> tasks </b>
                                    }
                                @if (author.InProgressTasksTimeLeftSeconds == 0)
                                {
                                    
                                    <b style="color:red"> &#x25cf; @author.InProgressTasksTimeLeft left</b>
                                }
                                else
                                {
                                    <b style="color:sienna"> &#x25cf; @author.InProgressTasksTimeLeft left</b>
                                }
                                @foreach (var task in author.InProgressTasks)
                                {
                                        if (task.Issue.SubTask == true)
                                        {
                                            identation = "margin-left:25px";
                                            @Partial("Views/parentTask.cshtml", task.Issue)
                                        }
                                        else { identation = ""; }                                                                              
                                         
                                            <div style="@identation;">
                                                 @Partial("Views/inProgress.cshtml", task.Issue)                                                                                                                                                                             
                                            </div>
                                            if (task.Issue.SubtasksIssues != null)
                                            {
                                                if (task.Issue.SubtasksIssues.Count > 0)
                                                {
                                                   @Partial("Views/subtasks.cshtml", task.Issue)
                                                }
                                            }
                                }
                                
                           </div>
                        }   
                        
                        @if(author.OpenTasks.Count>0)
                        {
                            <div style="line-height:1.4em; color:sienna; margin-top:20px;">
                                    <b style="font-size: 13px; color: sienna">Upcoming &#x25cf; @author.OpenTasks.Count </b>
                                    @if(author.OpenTasks.Count == 1)
                                    {
                                        <b style="color: sienna"> task</b>
                                    }
                                    else
                                    {
                                        <b style="color: sienna"> tasks</b>
                                    }
                                    @if (author.OpenTasksTimeLeftSeconds != 0)                     
                                    {
                                        <b style="color: sienna"> &#x25cf; @author.OpenTasksTimeLeft left</b>
                                    }
                                    else
                                    {
                                        <b style="color:red">&#x25cf; @author.OpenTasksTimeLeft left</b>
                                    }
                            @foreach (var task in author.OpenTasks)
                            {
                                    if (task.Issue.SubTask == true)
                                    {
                                        identation = "margin-left:25px";
                                        @Partial("Views/parentTask.cshtml", task.Issue)
                                    }
                                    else { identation = ""; }
                                    <div style="@identation;">
                                       @Partial("Views/openTasks.cshtml", task)                   
                                    </div>
                                    if (task.Issue.SubtasksIssues != null)
                                    {
                                        if (task.Issue.SubtasksIssues.Count > 0)
                                        {
                                           @Partial("Views/subtasks.cshtml", task.Issue)
                                        }
                                    }
                            }
                            </div>
                        }                    
                    </div>                       
                }
            }
        </div>

            @if (Model.Sprint.UnassignedCount>0)
            {
                if(Model.Sprint.UnassignedCount==1)
                {
                    tasks = "task";
                }
               else
                {
                    tasks = "tasks";
                }
                <div style="margin-top:60px; line-height:1.4em;">
                    <h2 style="color:black">Unassigned (@Model.Sprint.UnassignedCount @tasks)</h2>
                    @foreach (var task in Model.Sprint.UnassignedTasks)
                    {
                            if (task.Issue.SubTask == true)
                            {
                                identation = "margin-left:25px";
                                @Partial("Views/parentTask.cshtml", task.Issue)
                            }
                            else { identation = ""; }
                            <div style="@identation;">
                               @Partial("Views/unassignedTasks.cshtml", task)
                            </div>

                            if (task.Issue.SubtasksIssues != null)
                            {
                                if (task.Issue.SubtasksIssues.Count > 0)
                                {                                    
                                 @Partial("Views/subtasks.cshtml", task.Issue)
                                }
                            }
                    }
                        
                </div>
            }             
            
        @Partial("Views/completedTasks.cshtml", Model.Sprint)
</div>