<div>
      @if(Model.options.FromDate==Model.options.ToDate)
        {
           <span> @Model.Title for @Model.Date.ToString("dddd, dd MMMM yyyy") </span>
        }
        else
        {
           <span>@Model.Title for @Model.options.FromDate.ToString("dddd, dd MMMM yyyy") - @Model.options.ToDate.ToString("dddd, dd MMMM yyyy")</span>
        }     
    <div style="margin-top: 40px">
        @if(Model.Authors.Count==0)
        {
            <span>0h worked</span>
        }
            else
        {     
        @: @Model.TotalTime worked
        <div style="margin-left:20px">
            @foreach(var summary in Model.Summary)
            {
                <div>@summary.TimeLogged - @summary.Name</div>
            }
        </div>
           foreach (var author in Model.Authors)
            {
                <div style="margin-top:40px">
                    <b>@author.Name - @author.TimeLogged</b>

                    @foreach (var issue in author.Issues)
                    {
                        <div style="margin-top:10px">
                            <span>@issue.TimeLogged</span>

                            @if(issue.Resolution!=null)
                            {
                                <span>(@issue.Resolution)</span>                              
                            }
                                
                                else if(issue.RemainingEstimate!=null)
                                {
                                    if (issue.RemainingEstimateSeconds==0)
                                    {
                                        <span>(<b style="color:red">@issue.RemainingEstimate</b>)</span>
                                    }
                                    else
                                    {
                                        <span> (@issue.RemainingEstimate) </span>
                                    }
                                }
                              <span> - <a href=@issue.Link>@issue.Key @issue.Summary</a></span>
                                    
                            @if(issue.Assignee!=author.Name)
                            {
                                <span> - @issue.Assignee</span>
                            }
                            @foreach (var entry in issue.Entries)
                            {
                                <div>
                                    @if (entry.Comment != "")
                                    {
                                        <div style="margin-top:10px">
                                            @foreach (string comment in entry.Comment.Split('\n'))
                                            {
                                                <div style="margin-left:35px"> @comment</div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
              }
         }
    </div>
</div>
