<div>
      @if(Model.options.FromDate==Model.options.ToDate)
        {
           <span> @Model.Title for @Model.Date.ToString("dddd, dd MMMM yyyy") </span>
        }
        else
        {
           <span>@Model.Title for @Model.options.FromDate.ToString("dddd, dd MMMM yyyy") - @Model.options.ToDate.ToString("dddd, dd MMMM yyyy")</span>
        }     
    <div style="margin-top: 40px">
        @if(Model.Authors.Count==0)
        {
            <span><b>No work logged</b></span>
        }
            else
        {     
        <b> @Model.TotalTime worked</b>
        <div style="margin-top:10px">
            @foreach(var summary in Model.Summary)
            {
                <div>@summary.TimeLogged - @summary.Name</div>
            }
        </div>
           foreach (var author in Model.Authors)
            {
                <div style="margin-top:40px">
                    <b>@author.Name - @author.TimeLogged</b>

                    @foreach (var issue in author.Issues)
                    {
                        <div style="margin-top:10px">
                            <span>@issue.TimeLogged</span>
                           @if (issue.Label != Model.policy.PermanentTaskLabel)
                            {
                              if(issue.Resolution!=null)
                                  {
                                      <span>(@issue.Resolution)</span>                              
                                  }
                              
                                  else if(issue.RemainingEstimate!=null)
                                  {
                                      if (issue.RemainingEstimateSeconds==0)
                                      {
                                          <span>(<b style="color:red">@issue.RemainingEstimate left</b>)</span>
                                      }
                                      else
                                      {
                                          <span> (@issue.RemainingEstimate left) </span>
                                      }
                                  }
                            }
                            @if(issue.SubTask==true)
                            {
                                 <span> - <a href=@issue.Parent.Link style="text-decoration: none"> @issue.Parent.Summary </a>(@issue.Parent.Key)/<a href=@issue.Link style="text-decoration: none"> @issue.Summary</a> (@issue.Key) </span>
                            }
                            else
                            {
                                 <span> - <a href=@issue.Link style="text-decoration: none"> @issue.Summary</a> (@issue.Key) </span>
                            }                                  
                            @if (issue.Label != Model.policy.PermanentTaskLabel)
                            {
                                if(issue.Assignee==null)
                                {
                                    <span>(Unassigned)</span>
                                }  
                                else if(issue.Assignee!=author.Name)
                                {
                                    <span>(Assigned to @issue.Assignee)</span>
                                }
                            }
                            @foreach (var entry in issue.Entries)
                            {
                                <div>
                                    @if (entry.Comment != "")
                                    {
                                        <div style="margin-top:10px">
                                            @foreach (string comment in entry.Comment.Split('\n'))
                                            {
                                                <div style="margin-left:35px"> @comment</div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
              }
         }
    </div>
    <div style="margin-top:30px">
        <h3>Sprint status</h3>
        <div style="margin-top:20px">
            @foreach (var task in Model.SprintReport.OldCompletedTasks)
            {
                <div style="margin-top: 10px; color: #989898; ">
                    <span style="font-family:Webdings">&#97;</span>
                    <a style="color: #989898; text-decoration:none" href="@task.Issue.Link">@task.Issue.Summary</a>
                    <span>(@task.Issue.Key)</span>
                    @if(task.Issue.Assignee!=null)
                    { 
                        <span>(completed @task.CompletedTimeAgo ago by @task.Issue.Assignee)</span>
                    }
                    else
                    {
                        <span>(completed @task.CompletedTimeAgo ago)</span>
                    }
                </div>
            }
        </div>
    </div>

</div>
