@{
    var color = string.Empty;
    var timeSpentTotalColor = string.Empty;
    var title = string.Empty;
}
<tr>
    <td width="15" style="vertical-align:top;">
        <span style="font-family: Segoe UI Symbol; font-size: 10.5pt; font-weight:normal; color:black">&#10065;</span>
    </td>
    <td colspan="2">
        @{
            title = Model.Key;

            if (Model.TimeSpentTotal > 0)
            {
                title += "\n" + Model.TimeLoggedTotal + " worked";
            }

            if (Model.Subtasks.Count == 0)
            {
                title += "\n" + Model.RemainingEstimate + " left";
            }
            else
            {
                title += "\n" + Model.TotalRemaining + " left";
            }
            if (Model.HasSubtasksInProgress == true)
            {
                title += "\n" + " has sub-tasks in progress ";
            }
        }

        <a style="text-decoration: none; color:black;" title="@title" href="@Model.Link">@Model.Summary</a>

        @if (Model.PullRequests != null)
        {
            if (Model.PullRequests.Count > 0)
            {
                <span> @Partial("Views/pullRequests.cshtml", Model.PullRequests) </span>
            }
        }
        
        @if (Model.IsNew)
        {
            <span style="color:#ABABAB"> (NEW)</span>
        }

        @if (Model.Status == Model.PolicyReopenedStatus && Model.StatusType == "Open")
        {
            <span style="color:#ABABAB"> (Reopened)</span>
        }
        else
        {
            if (Model.TimeSpent > 0)
            {
                <span style="color:#ABABAB"> (Paused)</span>
            }
        }

        @if (Model.ExistsInTimesheet == true && Model.StatusCategory.name == "In Progress")
        {
            <span style="color:#ABABAB"> (Continue)</span>
        }

        @if (Model.DisplayStatus == true)
        {
            <span style="color:#ABABAB; padding:1.5px;"> (@Model.Status)</span>
        }

    </td>
    @*<td></td>*@
</tr>