@{
    var remainingEstimate = "";
    var colspan = "colspan = 2";
    var test = false;
    var title = "";
    var entryComments = "";
}
@if (Model.Subtasks.Count > 0)
{
    remainingEstimate = Model.TotalRemaining;
}
else
{
    remainingEstimate = Model.RemainingEstimate;
}
@if (Model.IsSubtask == true)
{
    colspan = "";
    test = true;
}
else
{
    colspan = "colspan=2";
    test = false;
}

<tr>
    @if (test == true)
    {
        <td></td>
    }

    <td style="vertical-align:top; width:15px">
        @if (Model.Resolution != null && Model.StatusCategory.name == "Done")
        {
            <span style="font-family: Segoe UI Symbol; font-size: 10.5pt; color:black;">&#10004;</span>
        }
        else if (Model.StatusCategory.name == "In Progress")
        {
            <span style="font-family: Wolfram Alpha; font-size:10.5pt; color:black;">&#9658;</span>
        }
        else if (Model.Resolution == null)
        {
            <span style="font-family: Segoe UI Symbol; font-size: 10.5pt; color:black; font-weight:normal">&#10065;</span>
        }
    </td>
    <td @colspan>

        @if (Model.Entries != null)
        {
            if (Model.Entries.Count > 0)
            {
                foreach (var entry in Model.Entries)
                {
                    entryComments += entry.Comment;
                }
            }
        }

        @if (Model.StatusCategory.name == "Done")
        {
            if (Model.Resolution != "Fixed" && Model.Resolution != "Done")
            {
                <span style="color:black; padding:1.5px">@Model.Resolution</span>
            }
        }
        @if (Model.DisplayStatus == true)
        {
            <span style="color:black; padding:1.5px;">@Model.Status</span>
        }
        @{
            title = Model.Key;
            title += '\n' + Model.TimeLoggedTotal + " spent";
            if (Model.TotalRemainingSeconds == 0 && Model.Resolution == null)
            {
                title += '\n' + remainingEstimate + " left";
            }
            if (Model.TotalRemainingSeconds > 0)
            {
                if (Model.Resolution != null && Model.StatusCategory.name == "Done" && Model.Subtasks.Count > 0)
                {
                    title += '\n' + remainingEstimate + " left from subtasks";
                }
                else
                {
                    title += '\n' + remainingEstimate + " left";
                }
            }
            if (Model.Assignee == null)
            {
                title += '\n' + "Unassigned";
            }
            else
            {
                if (Model.Assignee != Model.LoggedAuthor)
                {
                    title += '\n' + Model.Assignee;
                }
            }
        }
        <a href=@Model.Link style="text-decoration: none;" title="@title"> @Model.Summary</a>

        @if (Model.Commits != null && Model.Commits.Count>0)
        {
            <span> &#x25cf; </span>
            @Partial("Views/commits.cshtml", Model.Commits)
        }
        
        @if (Model.TimeSpent > 0)
        {
            <span style="color:black" title="@entryComments"> &#x25cf; @Model.TimeLogged worked</span>
        }
        else
        {
            <span style="color:orange"> &#x25cf; no work logged</span>
        }

        @if (Model.PullRequests != null)
        {
            if (Model.PullRequests.Count > 0)
            {
                <span> @Partial("Views/pullRequests.cshtml", Model.PullRequests) </span>
            }
        }
    </td>
    @if (test == false)
    {
        <td></td>
    }
</tr>

