@{
    var remainingEstimate = "";
    var colspan = "colspan = 2";
    var test = false;
    var title = "";
    var entryComments = "";
}
@if (Model.Subtasks.Count > 0)
{
    remainingEstimate = Model.TotalRemaining;
}
else
{
    remainingEstimate = Model.RemainingEstimate;
}
@if (Model.IsSubtask == true)
{
    colspan = "";
    test = true;
}
else
{
    colspan = "colspan=2";
    test = false;
}

<tr>
    @if (test == true)
    {
        <td width="15">
            &nbsp;
        </td>
    }

    <td width="15" style="vertical-align:top; font-size:10.5pt">
        @if (Model.Resolution != null && Model.StatusCategory.name == "Done")
        {
            <span style="color:black;">&#10004;</span>
        }
        else
        {
            <span style="color:black; font-weight:normal">&#10065;</span>
        }
    </td>
    <td @colspan>

        @if (Model.Entries != null)
        {
            if (Model.Entries.Count > 0)
            {
                foreach (var entry in Model.Entries)
                {
                    entryComments += entry.Comment;
                }
            }
        }
        @{
            title = Model.Key;
            title += '\n' + Model.TimeLoggedTotal + " spent";
            if (Model.TotalRemainingSeconds == 0 && Model.Resolution == null)
            {
                title += '\n' + remainingEstimate + " left";
            }
            if (Model.TotalRemainingSeconds > 0)
            {
                if (Model.Resolution != null && Model.StatusCategory.name == "Done" && Model.Subtasks.Count > 0)
                {
                    title += '\n' + remainingEstimate + " left from subtasks";
                }
                else
                {
                    title += '\n' + remainingEstimate + " left";
                }
            }
            if (Model.Assignee == null)
            {
                title += '\n' + "Unassigned";
            }
            else
            {
                if (Model.Assignee != Model.LoggedAuthor)
                {
                    title += '\n' + Model.Assignee;
                }
            }
        }
        <a href=@Model.Link style="text-decoration: none; color:black;" title="@title"> @Model.Summary</a>

        @if (Model.Commits != null && Model.Commits.Count > 0)
        {
            @Dot()
            @Partial("Views/commits.cshtml", Model.Commits)
        }

        @if (Model.TimeSpent > 0)
        {
            <span style="color:#ABABAB" title="@entryComments"> @Dot() @Model.TimeLogged worked</span>
        }
        else if (!Model.HasWorkLogged)
        {
            <span style="color:orange"> @Dot() no work logged</span>
        }



        @if (Model.PullRequests != null)
        {
            if (Model.PullRequests.Count > 0)
            {
                <span> @Partial("Views/pullRequests.cshtml", Model.PullRequests) </span>
            }
        }

        @if (Model.StatusCategory.name == "Done")
        {
            if (Model.Resolution != "Fixed" && Model.Resolution != "Done")
            {
                <span style="color:#ABABAB; padding:1.5px"> (@Model.Resolution)</span>
            }
        }
        @if (Model.DisplayStatus == true)
        {
            <span style="color:#ABABAB; padding:1.5px;"> (@Model.Status)</span>
        }
    </td>
    @*@if (test == false)
        {
            <td>
                &nbsp;
            </td>
        }*@
</tr>

