<div style="margin-top:20px">
    @Model.Title report for @Model.ReportDate.ToString("dddd, dd MMMM yyyy")
    <div style="margin-top:20px">
        @if (Model.Authors == null)
        {
            <p> No Entries </p>
        }

        else
        {           
            foreach (var author in Model.Authors)
            {
                <div style="margin-top:40px">
                    <b>@author.Name (@author.EntryCount entries)</b>
                    <ul style="margin-top:10px">
                        @foreach (var entry in author.Entries)
                        {
                            <li style="margin-top:10px">  @entry.Message</li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>