<table width="600" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td width="40" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                    <td width="270" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                    <td width="60" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                    <td width="230" height="1" style="font-size:0px; line-height:0px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="40" height="35" style="line-height:35px">
                        <a href="https://dailyreport.equilobe.com">
                            <img style="display:block" src="https://dailyreport.equilobe.com/content/images/logo.png" />
                        </a>
                    </td>
                    <td colspan="3" style="font-family:'Montserrat',sans-serif; vertical-align:bottom; padding-bottom:5px; font-size:14px">
                        <b style="color:#29A9E1">daily</b><b style="color:black">report</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h1 style="color:black; font-weight:normal; margin:0;">Subscription Cancelled</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="40" style="font-size:40px; line-height:40px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="20">
                        <span style="color:black; font-size:12px;">You just cancelled your daily report subscription for @Model.InstanceUrl. You will still receive the daily report until @Model.ExpirationDateString when your already paid subscription runs out.</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="20">
                        <span style="color:black; font-size:12px;">To reactivate the daily report you can go to <a href="@Model.SubscribeInstanceUrl">@Model.SubscribeInstanceUrl</a> after the subscription expires.</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="50" style="font-size:50px; line-height:50px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size:11px">
                        <p style="color:#ABABAB">You received this email because you canceled your subscription for the Daily Report at <a href="@Model.DailyReportAppUrl" style="text-decoration:none; color:black">@Model.DailyReportAppUrl</a>. For help please send an email to <a href="mailto:dailyreport@equilobe.com" style="text-decoration:none; color:black">dailyreport@equilobe.com</a>.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>